<div id="UTubDescriptionSubheaderOuterWrap" class="titleElement pad-in-15p dynamic-subheader flex-start align-center">
	<div class="flex-row align-center flex-start" id="UTubDescriptionSubheaderWrap">
		<h5 id="URLDeckSubheader">{{CONSTANTS.STRINGS.UTUB_SELECT}}</h5>
	</div>

	<span id="URLDeckNoDescription" class="hidden">No description</span>

	<div id="SearchURLWrap" class="input-text-holder flex-column hidden">
		<div class="text-input-container">
			<div class="text-input-inner-container">
				<input placeholder="Search URLs" class="text-input search-input" type="text"
					   id="URLContentSearch" name="urlSearch"
					   minlength="1" maxlength="500" required="" tabindex="0">
				<label class="text-input-label search-input-label top-50perc left-10p font-size-16p"
					   for="URLContentSearch">Search URLs</label>
			</div>
		</div>
	</div>

	<!-- Update UTub Description -->
	{% include 'components/home/URLDeck/UpdateUTubDescriptionForm.html' %}
</div>
