<div id="URLDeck" class="deck h-100 flex-column align-stretch">
	<div class="flex-column" id="URLDeckHeaderWrap">
		<!-- Header -->
		{% include 'components/home/URLDeck/URLDeckHeader.html' %}

		<!-- Subheader -->
		{% include 'components/home/URLDeck/URLDeckSubheader.html' %}
	</div>

	<!-- URLs -->
	<div class="flex-column content">
		<!-- URLs above selected URL will be displayed here -->
		<div id="noURLsEmptyState" class="hidden">
			<p id="noURLsSubheader"></p>
			<div id="urlBtnDeckCreateWrap" class="flex-column align-center">
				<button id="urlBtnDeckCreate" class="btn btn-success btn-sm">Add URL</button>
			</div>
		</div>

		<p id="URLSearchNoResults" class="hidden"></p>
		<p id="URLTagFilterNoResults" class="hidden"></p>
		<div id="listURLs">
			<h5 class="flex-row justify-center" id="URLDeckErrorIndicator" tabindex="-1"></h5>
			<!-- Create URL Form -->
			{% include 'components/home/URLDeck/CreateURLForm.html' %}
			<!-- All URLs otherwise go here -->
		</div>
	</div>
</div>
