<div id="URLDeck" class="deck h-100 flex-column align-stretch">
	<div class="flex-column m-bot-0p25rem" id="URLDeckHeaderWrap">
		<!-- Header -->
		{% include 'components/home/URLDeck/URLDeckHeader.html' %}

		<!-- Subheader -->
		{% include 'components/home/URLDeck/URLDeckSubheader.html' %}
	</div>

	<!-- URLs -->
	<div class="flex-column content">
		<!-- URLs above selected URL will be displayed here -->
		<p class="pad-in-15p hidden pad-top-1rem" id="NoURLsSubheader"></p>

		<!-- Create URL button -->
		<div id="urlBtnDeckCreateWrap" class="flex-column align-center pad-in-15p pad-top-10p hidden full-width">
			<button id="urlBtnDeckCreate" class="btn btn-success full-width">Empty UTub... Click to add a URL!</button>
		</div>

		<div id="listURLs">
			<h5 class="flex-row justify-center" id="URLDeckErrorIndicator" tabindex="-1"></h5>
			<!-- Create URL Form -->
			{% include 'components/home/URLDeck/CreateURLForm.html' %}
			<!-- All URLs otherwise go here -->
		</div>
	</div>

	<!-- Access all URLs button -->
	<div class="flex-column align-center pad-in-15p pad-top-10p full-width">
		<button id="accessAllURLsBtn" class="btn btn-primary hidden half-width">Access All URLs
			in UTub</button>
	</div>
</div>
