<div id="UTubDescriptionSubheaderOuterWrap" class="titleElement pad-in-15p dynamic-subheader flex-start align-center">
	<div class="flex-row align-center flex-start" id="UTubDescriptionSubheaderWrap">
		<h5 id="URLDeckSubheader">{{CONSTANTS.STRINGS.UTUB_SELECT}}</h5>
		<span class="edit-pencil-icon hidden" role="button" tabindex="0"
			  aria-label="Edit UTub description">
			<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14"
				fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
				<path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"/>
			</svg>
		</span>
	</div>

	<span id="URLDeckNoDescription" class="hidden">No description</span>

	<div id="SearchURLWrap" class="input-text-holder flex-column hidden">
		<div class="text-input-container">
			<div class="text-input-inner-container">
				<svg class="url-search-prefix-icon" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
					height="14" width="14"
					viewBox="0 0 16 16" aria-hidden="true">
					<path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5z" />
				</svg>
				<input placeholder="Filter URLs" class="text-input search-input" type="search"
					   id="URLContentSearch" name="urlSearch"
					   aria-label="Filter URLs by title or URL"
					   autocorrect="off" autocapitalize="off"
					   minlength="1" maxlength="500" required="" tabindex="0">
				<label class="text-input-label search-input-label top-50perc left-10p font-size-16p"
					   for="URLContentSearch">Filter URLs</label>
			</div>
		</div>
		<span id="URLSearchAnnouncement" class="visually-hidden" aria-live="polite"></span>
	</div>
	<span id="URLTagFilterAnnouncement" aria-live="polite" class="visually-hidden"></span>

	<!-- Update UTub Description -->
	{% include 'components/home/URLDeck/UpdateUTubDescriptionForm.html' %}
</div>
