{% extends "pages/layout.html" %}
{% block mainbody %}
<main class="flex-column flex-center">

    <h1 id="ContactTitle">Contact Us</h1>
    <h4>Feature ideas, bugs, compliments? Send it our way!</h4>

    <form id="ContactForm" method="POST" class="flex-column g-1-5r" novalidate>
        <div id="Banner" class="alert hidden" role="alert"></div>
        <fieldset class="form-group flex-column g-0-5r">
            <div class="form-group">
                <label for="subject" class="form-control-label login-register-label">Subject</label>
                <input id="subject" name="subject" type="text" class="form-control login-register-form-group" autocomplete="subject" autofocus>
                <div id="subject-error" class="invalid-feedback"></div>
            </div>
            <div class="form-group">
                <label for="content" class="form-control-label login-register-label">Content</label>
                <textarea id="content" name="content" class="form-control login-register-form-group" autocomplete="content"></textarea>
                <div id="content-error" class="invalid-feedback"></div>
            </div>
        </fieldset>
        <div>
            <input id="submit" type="submit" value="Submit" class="btn btn-success login-register-form-group col-12 login-register-buttons">
        </div>
    </form>

</main>

<!-- Initialized by frontend/contact.js -->
<script nonce="{{ nonce }}" type="module" src="{{ vite_asset('contact.js') }}"></script>

{% endblock %}
