{% extends "pages/layout.html" %}
{% block modal_extender %}{% endblock %}
{% block mainbody %}
<main id="SettingsPage">
    <div class="SettingsContent">
    <h1>{{ CONSTANTS.STRINGS.SETTINGS_PAGE_TITLE }}</h1>

    <div id="SettingsTablist" class="tablist" role="tablist" aria-label="{{ CONSTANTS.STRINGS.SETTINGS_TABLIST_ARIA_LABEL }}">
        <button type="button" role="tab" id="SettingsTabAccount"     aria-controls="SettingsPanelAccount"     data-tab="account"      aria-selected="true"  tabindex="0">{{  CONSTANTS.STRINGS.SETTINGS_TAB_ACCOUNT }}</button>
        <button type="button" role="tab" id="SettingsTabStats"       aria-controls="SettingsPanelStats"       data-tab="stats"        aria-selected="false" tabindex="-1">{{ CONSTANTS.STRINGS.SETTINGS_TAB_STATS }}</button>
        <button type="button" role="tab" id="SettingsTabPrivacyData" aria-controls="SettingsPanelPrivacyData" data-tab="privacy_data" aria-selected="false" tabindex="-1">{{ CONSTANTS.STRINGS.SETTINGS_TAB_PRIVACY_DATA }}</button>
        <button type="button" role="tab" id="SettingsTabUiSettings"  aria-controls="SettingsPanelUiSettings"  data-tab="ui_settings"  aria-selected="false" tabindex="-1">{{ CONSTANTS.STRINGS.SETTINGS_TAB_UI_SETTINGS }}</button>
    </div>

    <section role="tabpanel" id="SettingsPanelAccount" aria-labelledby="SettingsTabAccount" tabindex="0">
        <h2>{{ CONSTANTS.STRINGS.SETTINGS_TAB_ACCOUNT }}</h2>
        {% if connected_account_rows %}
        <div id="SettingsConnectedAccounts" data-has-password="{{ 'true' if connected_accounts_has_password else 'false' }}">
            <h3 class="ConnectedAccountsTitle">{{ CONSTANTS.STRINGS.SETTINGS_CONNECTED_ACCOUNTS_TITLE }}</h3>
            <p class="SettingsSectionHint">{{ CONSTANTS.STRINGS.SETTINGS_CONNECTED_ACCOUNTS_HINT }}</p>
            {% if connected_accounts_banner %}
            <div id="SettingsLinkStatusBanner" class="alert {{ 'alert-success' if connected_accounts_banner.kind == 'success' else 'alert-danger' }}" role="alert">{{ connected_accounts_banner.message }}</div>
            {% else %}
            <div id="SettingsLinkStatusBanner" class="alert d-none" role="alert"></div>
            {% endif %}
            <ul class="ConnectedAccountsList">
                {% for account_row in connected_account_rows %}
                <li class="ConnectedAccountRow" id="ConnectedAccountRow{{ account_row.display_name }}" data-provider="{{ account_row.key }}">
                    {% if account_row.key == 'google' %}
                    <svg viewBox="0 0 48 48" aria-hidden="true"><path fill="#EA4335" d="M24 9.5c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85C35.9 2.38 30.47 0 24 0 14.62 0 6.51 5.38 2.56 13.22l7.98 6.19C12.43 13.72 17.74 9.5 24 9.5z"/><path fill="#4285F4" d="M46.98 24.55c0-1.57-.15-3.09-.38-4.55H24v9.02h12.94c-.58 2.9-2.26 5.36-4.78 7.02l7.73 6c4.51-4.18 7.09-10.36 7.09-17.49z"/><path fill="#FBBC05" d="M10.53 28.59A14.5 14.5 0 0 1 9.5 24c0-1.59.27-3.13.76-4.59l-7.98-6.19A24 24 0 0 0 0 24c0 3.88.93 7.54 2.56 10.78z"/><path fill="#34A853" d="M24 48c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16 2.3-6.26 0-11.57-4.22-13.47-9.9l-7.98 6.19C6.51 42.62 14.62 48 24 48z"/></svg>
                    {% elif account_row.key == 'github' %}
                    <svg viewBox="0 0 16 16" aria-hidden="true"><path fill="#181717" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/></svg>
                    {% endif %}
                    <div class="ConnectedAccountInfo">
                        <span class="ConnectedAccountName">{{ account_row.display_name }}</span>
                        {% if account_row.is_linked %}
                        <span class="ConnectedAccountStatus">{{ CONSTANTS.STRINGS.SETTINGS_CONNECTED_STATUS_CONNECTED.format(email=account_row.linked_email) }}</span>
                        {% elif not connected_accounts_has_password and account_row.proof_provider_display %}
                        <span class="ConnectedAccountStatus">{{ CONSTANTS.STRINGS.SETTINGS_CONNECTED_STATUS_NOT_CONNECTED_PROOF.format(provider=account_row.proof_provider_display) }}</span>
                        {% else %}
                        <span class="ConnectedAccountStatus">{{ CONSTANTS.STRINGS.SETTINGS_CONNECTED_STATUS_NOT_CONNECTED }}</span>
                        {% endif %}
                        {% if account_row.is_last_method %}
                        <span class="ConnectedAccountLastMethodNote">{{ CONSTANTS.STRINGS.SETTINGS_CONNECTED_LAST_METHOD_NOTE }}</span>
                        {% endif %}
                    </div>
                    {% if account_row.is_linked %}
                    <button type="button" class="btn btn-danger ConnectedAccountUnlinkBtn" data-provider="{{ account_row.key }}" data-action-url="{{ account_row.unlink_url }}" {% if account_row.is_last_method %}disabled{% endif %}>{{ CONSTANTS.STRINGS.SETTINGS_DISCONNECT_BUTTON_TEXT }}</button>
                    {% else %}
                    <button type="button" class="btn btn-success ConnectedAccountLinkBtn" data-provider="{{ account_row.key }}" data-action-url="{{ account_row.link_url }}">{{ CONSTANTS.STRINGS.SETTINGS_CONNECT_BUTTON_TEXT }}</button>
                    {% endif %}
                    {% if not account_row.is_linked and connected_accounts_has_password %}
                    <div class="ConnectedAccountPasswordConfirm d-none">
                        <label for="ConnectedAccountPassword{{ account_row.display_name }}">{{ CONSTANTS.STRINGS.SETTINGS_CONNECT_PASSWORD_PROMPT }}</label>
                        <input id="ConnectedAccountPassword{{ account_row.display_name }}" class="ConnectedAccountPasswordInput" type="password" autocomplete="current-password">
                        <button type="button" class="btn btn-success ConnectedAccountPasswordContinueBtn">{{ CONSTANTS.STRINGS.SETTINGS_CONNECT_CONTINUE_BUTTON_TEXT }}</button>
                        <button type="button" class="btn btn-secondary ConnectedAccountPasswordCancelBtn">{{ CONSTANTS.STRINGS.SETTINGS_CONNECT_CANCEL_BUTTON_TEXT }}</button>
                    </div>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
        {% else %}
        <p class="SettingsEmptyState">{{ CONSTANTS.STRINGS.SETTINGS_PLACEHOLDER }}</p>
        {% endif %}
    </section>
    <section role="tabpanel" id="SettingsPanelStats" aria-labelledby="SettingsTabStats" tabindex="0" hidden>
        <h2>{{ CONSTANTS.STRINGS.SETTINGS_TAB_STATS }}</h2>
        <p class="SettingsEmptyState">{{ CONSTANTS.STRINGS.SETTINGS_PLACEHOLDER }}</p>
    </section>
    <section role="tabpanel" id="SettingsPanelPrivacyData" aria-labelledby="SettingsTabPrivacyData" tabindex="0" hidden>
        <h2>{{ CONSTANTS.STRINGS.SETTINGS_TAB_PRIVACY_DATA }}</h2>
        <p class="SettingsEmptyState">{{ CONSTANTS.STRINGS.SETTINGS_PLACEHOLDER }}</p>
    </section>
    <section role="tabpanel" id="SettingsPanelUiSettings" aria-labelledby="SettingsTabUiSettings" tabindex="0" hidden>
        <h2>{{ CONSTANTS.STRINGS.SETTINGS_TAB_UI_SETTINGS }}</h2>
        <p class="SettingsEmptyState">{{ CONSTANTS.STRINGS.SETTINGS_PLACEHOLDER }}</p>
    </section>
    </div>

    {% if config.VITE_DEV_SERVER %}
    <script nonce="{{ nonce }}" type="module" src="{{ config.VITE_URL }}/@vite/client"></script>
    {% endif %}
    <script nonce="{{ nonce }}" type="module" src="{{ vite_asset('settings.ts') }}"></script>
</main>
{% endblock %}
