<div id="TagDeck" class="deck flex-column">
	<div class="titleElement sidePanelTitle pad-in-15p">
		<div class="col-6 col-lg-6">
			<h2 id="TagDeckHeader">Tags</h2>
		</div>
		<div class="col-6 col-lg-6 d-flex flex-row icon-holder">
			<!-- Add tag button -->
			<i id="utubTagBtnCreate" class="green-clickable ms-1" tabindex="0" style="display: none">
				<svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-plus-square-fill"
					width="30" height="30" viewBox="0 0 16 16">
					<path
						d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0" />
				</svg>
			</i>
		</div>
	</div>
	<div class="titleElement pad-in-15p">
		<!-- Subheader -->
		<h5 id="TagDeckSubheader"></h5>
	</div>

	<div class="flex-column content">
		<!-- Create UTub Tag Form -->
		{% include 'home/TagsDeck/CreateUTubTagForm.html' %}

		<div class="flex-column flex-start pad-in-15p" id="listTags">
			<!-- Tags -->
		</div>
	</div>
</div>
