{% extends "pages/layout.html" %}
{% block mainbody %}
<main class="flex-column flex-center">

    <h1 id="ContactTitle">Contact Us</h1>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
      <span id="flasher"><strong>{{ messages[0] }}</strong></span>
        </ul>
      {% endif %}
    {% endwith %}
    <h4>Feature ideas, bugs, compliments? Send it our way!</h4>

    <form id="ContactForm" method="POST" action="/contact" class="flex-column g-1-5r" novalidate>
        {{ contact_form.hidden_tag() }}
        <div id="Banner" class="alert hidden" role="alert"></div>
        <fieldset class="form-group flex-column g-0-5r">
            <div class="form-group">
                {{ contact_form.subject.label(class="form-control-label login-register-label")}}
                {% if contact_form.subject.errors %}
                {{ contact_form.subject(class="form-control login-register-form-group is-invalid",
                autocomplete="subject") }}
                <div class="invalid-feedback">
                    {% for error in contact_form.subject.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ contact_form.subject(class="form-control login-register-form-group", autocomplete="subject", autofocus=true)}}
                {% endif %}
            </div>
            <div class="form-group">
                {{ contact_form.content.label(class="form-control-label login-register-label")}}
                {% if contact_form.content.errors %}
                {{ contact_form.content(class="form-control login-register-form-group is-invalid", autocomplete="content")
                }}
                <div class="invalid-feedback">
                    {% for error in contact_form.content.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ contact_form.content(class="form-control login-register-form-group", autocomplete="content")}}
                {% endif %}
            </div>
        </fieldset>
        <div>
            {% if contacted %}
            {{ contact_form.submit(class="btn btn-success login-register-form-group col-12 login-register-buttons", data_sent="true")}}
            {% else %}
            {{ contact_form.submit(class="btn btn-success login-register-form-group col-12 login-register-buttons")}}
            {% endif %}
        </div>
    </form>

</main>

<script nonce="{{ nonce }}">
    (function($) {
        const $form = $('form');

        if ($form.length) {
            $form.on("submit", function(e) {
                const $submitBtn = $(this).find('input[type="submit"]');
                $submitBtn.prop('disabled', true);
                $submitBtn.val("Sending...");
            });
        }
    })(jQuery);
</script>

{% if contacted %}
<script nonce="{{ nonce }}">
    (function($) {
        const $submitBtn = $('input[data-sent="true"]');

        if ($submitBtn.length) {
            $submitBtn.prop('disabled', true);
            const originalValue = $submitBtn.val();
            let timeLeft = 5;
            
            $submitBtn.val(`Submitted! Please wait ${timeLeft}s...`);
            
            const interval = setInterval(function() {
                timeLeft--;
                if (timeLeft > 0) {
                    $submitBtn.val(`Submitted! Please wait ${timeLeft}s...`);
                } else {
                    clearInterval(interval);
                    $submitBtn.prop('disabled', false);
                    $submitBtn.val(originalValue);
                }
            }, 1000);
        }
    })(jQuery);
</script>
{% endif %}

{% endblock %}
