/** Colors and themes **/

:root {
    --splashGreen: rgba(36, 167, 69, 1.0);
    --darkSplashGreen: rgba(36, 167, 69, 0.75);
    --splashLabelGreen: rgba(46, 204, 113, 1.0);
    --darkSplashLabelGreen: rgba(30, 133, 73, 1.0);
    --pageBackgroundColor: rgba(31, 36, 36, 0.81);
    --panelBackgroundColor: rgba(31, 36, 36, 1.0);
    --borderColor: #343c3d;
    --deckHeaderGreen: rgba(36, 167, 69, 1.0);
    --deckSelectionGreen: rgba(96, 218, 170, 1.0);
    --deckSelectionGreenHover: rgba(67, 152, 118, 1.0);
    --offWhiteSplashBackgroundBanner: rgba(248, 248, 248, 0.74);
    --blueLinkOnHover: rgba(5, 34, 77, 1.0);
    --darkGrayTextColor: rgba(51, 51, 51, 1.0);
    --selectedUTubColor: rgba(244, 94, 97, 1.0);
    --selectedUTubColorBackground: rgba(61, 67, 67, 1.0); /* #3D4343 */
    --selectedUTubColorBackgroundFocus: rgba(82, 88, 88, 1.0); /* #525858 */
    --removeMemberColor: rgba(170, 65, 67, 1.0);
    --removeMemberColorLighter: rgba(170, 65, 67, 0.1);

    --cardBackgroundColor: rgba(40, 47, 47, 1.0);
    --cardBackgroundColorHover: rgba(40, 47, 47, 0.8);
    --UTubDescriptionColor: white;

    --spanRemoveColor: rgb(254, 115, 1);
    --removeIconColor: rgba(220, 53, 69, 1.0);
    --removeIconColorHover: rgba(154, 37, 48, 1.0);

    --tagBackgroundColor: var(--cardBackgroundColor);
    --tagBorderColor: var(--cardBackgroundColorHover);
    --tagBackgroundColorHover: rgba(126, 130, 130, 0.5);
    --tagBackgroundColorSelected: rgba(126, 130, 130, 1.0);
    --tagSelectedTextColor: rgba(14, 66, 27, 1.0);

    --tagBadgeDeleteBtnColor: rgba(136, 136, 136, 0.85);
    --tagBadgeDeleteBtnColorHover: var(--removeMemberColor);

    --contentTopBorder: rgba(126, 130, 130, 0.25);

    --cardURLTextColor: rgba(140, 155, 157, 1.0);
    --selectedUrlBorder: rgba(13, 255, 0, 1.0);
    --focusedUrlBorder: rgba(13, 255, 0, 0.75);

    --oddUrlCardsBackgroundColor: rgba(61, 71, 71, 1.0);
    --evenUrlCardsBackgroundColor: rgba(51, 61, 61, 1.0);
}

/** HTML DOM Elements **/

body {
    height: 100%;
    margin: 0;
    padding: 0;
    /* overflow-y: hidden; */
    background-color: var(--pageBackgroundColor);
}

h1 {
    font-weight: 300;
    font-size: 2.5em;
}

h2 {
    color: var(--deckHeaderGreen);
}

p {
    color: var(--UTubDescriptionColor);
}

a {
    color: aqua
}

/** Class specific **/

/* Navbar */

.navbar-start {
    margin-inline: 20px;
    height: inherit;
}

.navbar-start {
    display: flex;
    align-items: center;
}

.navbar-toggler {
    margin-inline-end: 5px;
}

/* Modals */

.modal-content {
    padding: 1%;
}

/** ID specific **/

/* Navbar */

#mainNavbar {
    height: 50px;
}

#iconContainer {
    height: inherit;
    display: flex;
    padding-top: initial !important;
    padding-inline: 10px;
    align-items: center;
}

#u4iFavicon {
    height: 90%;
    width: auto;
    max-width: initial;
}

/* Main Page */


#NavbarNavDropdown {
    justify-content: flex-end;
    padding-inline-end: 5px;
}

@media (max-width: 767px) {
    #NavbarDropdowns {
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        gap: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
