/** Class specific **/

/* Page display */

.panel {
    height: 100%;
    padding-bottom: 10px;
    overflow-y: hidden;
}

.deck {
    width: 100%;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    background: var(--backgroundColor);
    border: 2px solid var(--borderColor);
    border-top: 4px solid var(--borderColor);
    border-bottom: 4px solid var(--borderColor);
    border-radius: 30px;
    color: var(--deckSelectionGreen);
    overflow: hidden;
}

.deckContent {
    width: 100%;
    height: 90%;
    margin: 0px;
    overflow: hidden;
}

/* Buttons */

.green-clickable {
    color: var(--splashGreen);
}

.green-clickable:hover {
    cursor: pointer;
    color: var(--darkSplashGreen);
}

.trash-fill {
    background: var(--removeIconColor);
    border-radius: 4px;
}

.trash-fill:hover {
    cursor: pointer;
    background: var(--removeIconColorHover);
}

.cancelButton {
    color: var(--removeIconColor);
}

.cancelButton:hover{
    cursor: pointer;
    color: var(--removeIconColorHover);
}

.icon-holder {
    justify-content: flex-end;
}

/* Utility */
.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-row-reverse {
    display: flex;
    flex-direction: row-reverse;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.titleElement {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    flex-direction: row;
}

.content {
    flex: 1 1 auto;
    overflow-y: auto;
    scrollbar-width: thin;
}

.flex-start {
    align-items: flex-start;
}

.wrap {
    flex-wrap: wrap;
}

.align-center {
    align-items: center;
}

/* UTubs */

.active,
.active:hover .UTubName {
    color: #f45e61;
}

.UTubName:hover {
    cursor: pointer;
    color: var(--deckSelectionGreenHover)
}

.editIcon:hover {
    cursor: pointer;
    color: white;
}

/* Tags */

span.tagBadge {
    color: var(--splashGreen);
    background: white;
    margin-left: 2px;
    margin-right: 2px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 16px;
    white-space: nowrap;
}

span.tagBadge:hover .tag-remove {
    display: inline-block;
    line-height: 100%;
    height: 100%;
    font-size: 100%;
}

.tag-remove {
    padding: 0rem;
    vertical-align: unset;
    padding-left: 5px;
    display: none;
}

.tag-remove:focus {
    outline: none;
    box-shadow: none;
}

#selectAll,
.tagFilter {
    display: inline-block;
    padding: 3px 3px;
    margin-top: 5px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

#selectAll.selected,
.tagFilter {
    /*
    display: inline-block;
    padding: 5px 5px;
    margin-top: 5px;
    border-radius: 25px;
    color: var(--tagSelectedTextColor);
    transition: background-color 0.3s, border-color 0.3s;
    */
    border: 2px solid var(--tagBorderColor);
    background-color: var(--tagBackgroundColorSelected);
    cursor: pointer;
}

#selectAll.selected:hover,
.tagFilter:hover {
    border-color: #aaa;
}

#selectAll,
.tagFilter.selected {
    background-color: var(--tagBackgroundColor);
    border: 2px solid var(--tagBorderColor);
    border-radius: 25px;
    color: white;
}

#selectAll:hover,
.tagFilter.selected:hover {
    background-color: var(--tagBackgroundColorHover);
    border-color: var(--tagBorderColor);
}

/* URLs */

.card {
    background-color: var(--cardBackgroundColor);
    height: 100%;
    margin: 2px;
    border: 2px solid var(--borderColor);
    border-radius: 20px;
}

.card:hover {
    cursor: pointer;
    background-color: var(--cardBackgroundColorHover);
}

.card-title {
    color: #1abc9c;
    margin-bottom: 2px;
}

.card-text {
    color: #8c9b9d;
}

.selected {
    border: 5px solid rgb(13, 255, 0);
}

.selectedURL {
    border: 5px solid rgb(13, 255, 0);
}

.URLString {
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.col-lg-10 {
    flex-grow: 1;
}

.col-lg-4 {
    flex-shrink: 1;
}

.col-xl-10 {
    flex-grow: 1;
}

.col-xl-3 {
    flex-shrink: 1;
}

/* Members */

span.member {
    color: var(--spanRemoveColor);
    background: white;
    margin-right: 2px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 16px;
    white-space: nowrap;
}

span.member:hover .member-remove {
    display: inline-block;
    line-height: 100%;
    height: 100%;
    font-size: 100%;
}

.member-remove {
    padding: 0rem;
    vertical-align: unset;
    padding-left: 5px;
    display: none;
}

.member-remove:focus {
    outline: none;
    box-shadow: none;
}

/** ID specific **/

#centerPanel {
    padding-bottom: 5px;
}

#listMembers {
    gap: 3px;
}

#MemberDeckHeader,
#TagDeckHeader,
#UTubDeckHeader,
#UTubDescriptionDeckHeader,
#URLDeckHeader {
    margin-bottom: 0px;
}

#MemberDeckSubheader,
#TagDeckSubheader,
#UTubDeckSubheader,
#URLDeckSubheader {
    margin-top: 3px;
}

/* Media size for responsiveness 
 * https://getbootstrap.com/docs/5.2/layout/breakpoints/ 
 * */

@media (max-width: 991.98px) {
    .titleElement {
        align-items: flex-start;
        flex-direction: column;
    }

    .icon-holder {
        justify-content: flex-start;
    }

    #addMemberBtn,
    #createUTubBtn {
        margin-inline: 0px !important;
    }
}
