/** Class specific **/

main {
    display: flex;
    flex-direction: row;
    background-color: var(--defaultPageBackgroundColor);
}

button {
    background: inherit;
    border: none;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

/* Page display */

#pageContent {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    max-width: 100%;
    padding-bottom: 5px;
    background-color: var(--pageBackgroundColor);
}

.panel {
    display: flex;
    flex-direction: column;
    padding-inline: 5px;
}

.panel#leftPanel {
    width: 25%;
    min-width: 350px;
}

.panel#centerPanel {
    width: 75%;
}

.deck {
    width: 100%;
    margin-top: 5px;
    background: var(--panelBackgroundColor);
    border: 2px solid var(--borderColor);
    border-radius: 15px;
    color: var(--deckSelectionGreen);
    overflow: hidden;
    padding-top: 5px;
    padding-bottom: 8px;
}

.deck#UTubDeck,
.deck#MemberDeck,
.deck#TagDeck {
    flex: 1 1 0;
    transition: flex 0.3s ease;
}

.deck#UTubDeck.collapsed,
.deck#MemberDeck.collapsed,
.deck#TagDeck.collapsed {
    flex: 0 0 48px;
    padding-top: 0.15rem;
    padding-bottom: 0;
}

.content {
    flex: 1 1 0;
    overflow-y: auto;
    scrollbar-width: thin;
    border-top: 2px solid var(--contentTopBorder);
    padding-bottom: 3px;
    min-height: 0;
}

.content {
    transition: opacity 0.3s ease;
}

.titleElement {
    transition: all 0.3s ease;
}

.deck.collapsed .content,
.deck.collapsed .titleElement:nth-of-type(2) {
    opacity: 0;
    flex-shrink: 0;
    height: 0;
    min-height: 0;
    overflow: hidden;
}

.deck.collapsed .button-container {
    transition: opacity 0.3s ease;
    opacity: 0;
    pointer-events: none;
}

/* Buttons */
.green-clickable {
    color: var(--splashGreen);
}

.green-clickable-wide {
    background: var(--splashGreen);
}

.green-clickable:hover {
    cursor: pointer;
    color: var(--darkSplashGreen);
}

.green-clickable-wide:hover {
    cursor: pointer;
    background: var(--darkSplashGreen);
}

.trash-fill,
.funnel-x {
    background: var(--removeIconColor);
    border-radius: 4px;
}

.cancelButton-wide:hover,
.trash-fill:hover,
.funnel-x:hover {
    cursor: pointer;
    background: var(--removeIconColorHover);
}

.clickable {
    cursor: pointer;
}

.cancelButton {
    color: var(--removeIconColor);
}

.cancelButton-wide {
    background: var(--removeIconColor);
}

.green-clickable-wide>svg,
.cancelButton-wide>svg {
    fill: var(--panelBackgroundColor);
}

#UTubSearchFilterIconClose,
#UTubSearchFilterIcon {
    cursor: pointer;
    height: 100%;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-right: 4px;
}

#UTubSearchFilterIcon>svg {
    fill: var(--grayBadgeSelection);
}

#UTubSearchFilterIcon:hover>svg {
    fill: var(--deckSelectionGreenHover);
}

#UTubSearchFilterIconClose>svg {
    fill: var(--spanRemoveColor);
}

#UTubSearchFilterIconClose:hover>svg {
    fill: var(--spanRemoveColorHover);
}

.cancelButton:hover {
    cursor: pointer;
    color: var(--removeIconColorHover);
}

.button-container {
    justify-content: flex-end;
}

.title-caret {
    color: var(--deckHeaderGreen);
    transition: transform 0.15s ease;
    transform-origin: center;
}

.title-caret.closed {
    transform: rotate(-90deg);
}

#HomeModalAlertBanner {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

#HomeModalAlertBanner > a {
    color: var(--bs-link-color);
}

/* Utility */

.white-space-pre-line {
    white-space: pre-line;
}

.flex-row-reverse {
    display: flex;
    flex-direction: row-reverse;
}

.titleElement {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    flex-direction: row;
}

.deck .titleElement:first-child {
    height: 38px;
}

.flex-1-1-auto {
    flex: 1 1 auto;
}

.flex-start {
    align-items: flex-start;
}

.flex-center {
    align-items: center;
}

.wrap {
    flex-wrap: wrap;
}

.align-stretch {
    align-items: stretch;
}

.align-center {
    align-items: center;
}

.align-flex-end {
    align-items: flex-end;
}

.justify-center {
    justify-content: center;
}

.justify-flex-end {
    justify-content: flex-end;
}

.pad-in-15p {
    padding-inline: 15px;
}

.pad-b-0-25rem {
    padding-bottom: 0.25rem;
}

.gap-2p {
    gap: 2px;
}

.gap-5p {
    gap: 5px;
}

.gap-8p {
    gap: 8px;
}

.gap-15p {
    gap: 15px;
}

.gap-20p {
    gap: 20px;
}

.gap-10p {
    gap: 10px;
}

.pad-top-1rem {
    padding-top: 1rem;
}

.pad-top-5p {
    padding-top: 5px;
}

.pad-top-10p {
    padding-top: 5px;
}

.pad-bot-5p {
    padding-bottom: 5px;
}

.height-2rem {
    height: 2rem;
}

.height-2p5rem {
    height: 2.5rem;
}

.pad-top-bot-5p {
    padding-top: 5px;
    padding-bottom: 5px;
}

.m-top-bot-0-5rem {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.half-width {
    width: 50%;
}

.sixtyfive-width {
    width: 65%;
}

.full-width {
    width: 100%;
}

.ninetyfive-width {
    width: 95%;
}

.fourty-p-width {
    width: 40px;
}

.sixty-p-width {
    width: 60px;
}

.fourty-p-height {
    height: 40px;
}

.border-radius-5px {
    border-radius: 10px;
}

.visible {
    display: block !important;
}

.visible-flex {
    display: flex !important;
}

.hidden {
    display: none !important;
}

.invalid-field {
    border-color: red !important;
    transition: border-color 0.2s ease-in-out;
}

.pointerable {
    cursor: pointer;
}

.btn-text-on-hvr:hover {
    color: white;
}

.long-text-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.width-with-icon {
    width: calc(100% - 25px);
}

.visible-on-focus {
    visibility: visible !important;
}

.top-50perc {
    top: 50%;
}

.left-10p {
    left: 10px;
}

.font-size-16p {
    font-size: 16px;
}

.member,
.UTubSelector,
.tagFilter {
    padding: 3px 10px;
    height: 2.2rem;
}

/* UTubs */

.UTubSelector {
    color: var(--grayBadgeSelection);
    border-color: var(--grayBadgeSelection);
    border-radius: 25px;
    border: 2px solid var(--tagBorderColor);
    background-color: var(--cardBackgroundColor);
    margin-top: 5px;
    transition: border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.UTubSelector:hover {
    cursor: pointer;
    border-color: var(--deckSelectionGreenHover);
    background-color: var(--selectedUTubColorBackground);
}

.active:active,
.UTubSelector:active {
    border-color: var(--deckSelectionGreen);
    background-color: var(--selectedUTubColorBackgroundFocus);
}

.UTubSelector:focus {
    outline: none;
    border: 2px solid var(--deckSelectionGreenHover);
}

.active,
.active:hover .UTubName {
    color: var(--deckSelectionGreen);
    border-color: var(--deckSelectionGreenHover);
    background-color: var(--selectedUTubColorBackground);
}

.updateIcon:hover {
    cursor: pointer;
    color: white;
}

.UTubSelector .memberRole {
    color: var(--memberRoleIconColor);
}

/* Tags */

.tagBadge {
    color: var(--darkSplashGreen);
    background: var(--cardBackgroundColor);
    margin-left: 2px;
    margin-right: 2px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 12px;
    white-space: nowrap;
    border: 1px solid var(--borderColor);
}


.urlTagBtnDelete:focus,
.tagBadgeHoverable:hover .urlTagBtnDelete {
    width: 100%;
    opacity: 100%;
}

.tagText {
    transition: padding 0.1s ease-in;
}

.tagBadgeHoverable:hover>.tagText {
    padding-right: 6px;
}

.urlTagBtnDelete:focus~.tagText {
    padding-right: 6px;
}

.urlTagBtnDelete {
    width: 0;
    opacity: 0;
    padding: 0;
    color: var(--tagBadgeDeleteBtnColor);
    transition: width 0.1s ease-in, opacity 0.1s ease-in, color 0.1s ease-in, padding 0.1s ease-in;
}

.urlTagBtnDelete:hover {
    color: var(--tagBadgeDeleteBtnColorHover);
}

.red-icon-disabled {
    opacity: 0.15;
    pointer-events: none;
    cursor: not-allowed;
}

#utubTagBtnUpdateAllOpen,
#unselectAllTagFilters {
    transition: opacity 0.2s ease-in-out;
}

#utubTagBtnUpdateAllOpen,
#utubTagBtnUpdateAllClose {
    border-radius: 4px;
    color: black;
}

#utubTagBtnUpdateAllClose>svg {
    background: var(--updateUTubTagBtnColor);
    border-radius: 4px;
}

#utubTagBtnUpdateAllClose>svg:hover {
    background: var(--updateUTubTagBtnColorHover);
}

#utubTagBtnUpdateAllOpen {
    background: var(--updateUTubTagBtnColor);
}

#utubTagBtnUpdateAllOpen:hover {
    background: var(--updateUTubTagBtnColorHover);
}

.tagFilter {
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: var(--deckSelectionGreen);
    font-weight: bold;

    margin-top: 5px;
    border-radius: 25px;
    transition: background-color 0.3s ease-in-out,
        border-color 0.3s ease-in-out, color 0.3s ease-in-out;
    border: 2px solid var(--tagBorderColor);
    background-color: var(--tagBackgroundColorSelected);
}

.tagFilter:hover {
    border-color: var(--grayBadgeSelection);
}

.tagFilter.unselected:hover {
    background-color: var(--tagBackgroundColorHover);
    border-color: var(--tagBorderColor);
}

.tagFilter.unselected:active,
.tagFilter:active {
    background-color: var(--grayBadgeSelectionFocus);
    color: var(--grayBadgeSelection);
}

.tagFilter.unselected {
    color: var(--grayBadgeSelection);
    background-color: var(--tagBackgroundColor);
    border: 2px solid var(--tagBorderColor);
    border-radius: 25px;
}

.tagFilter.disabled {
    color: var(--grayBadgeSelection) !important;
    background-color: var(--tagBackgroundColor) !important;
    border: 2px solid var(--tagBorderColor) !important;
    cursor: default;
    pointer-events: none;
}

.tagFilter.disabled .utubTagBtnDelete {
    cursor: pointer;
    pointer-events: auto;
}

.tagFilter>.tagCountWrap>.tagAppliedToUrlsCount {
    color: black;
    background-color: var(--tagCountBackgroundSelectedColor);
}

.tagFilter.unselected>.tagCountWrap>.tagAppliedToUrlsCount {
    color: var(--darkSplashGreen);
    background: var(--cardBackgroundColor);
}

.tagCountWrap {
  position: relative;
  display: flex;
  align-items: center;
}


.tagAppliedToUrlsCount {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  font-size: 1rem;
  border: 1px solid var(--tagCountBorderColor);
  border-radius: 5rem;
  white-space: nowrap;
  transition: background-color 0.2s ease-in-out; 
}

.utubTagBtnDelete {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.1s ease-in;
  color: var(--tagBadgeDeleteBtnColor);
}

.utubTagBtnDelete:hover {
    color: var(--tagBadgeDeleteBtnColorHover);
}

.urlTags:has(.tagBadge) {
    gap: 2rem;
}

#unselectAllTagFilters.disabled,
.unselected.disabled {
    cursor: not-allowed;
    color: gray;
    pointer-events: none;
}

.unselected.disabled:hover {
    background-color: var(--tagBackgroundColor) !important;
}

/* URLs */

#listURLs .urlRow.even[filterable="true"],
#listURLs .urlRow.even[filterable="true"] .text-input-inner-container>label,
#listURLs .urlRow.even[filterable="true"] .text-input-inner-container>input {
    background-color: var(--cardBackgroundColor);
}

#listURLs .urlRow.even[filterable="true"] .tagBadge {
    background: var(--pageBackgroundColor);
}

#listURLs .urlRow.even[filterable="true"]:not([urlSelected="true"]):hover {
    background-color: rgba(61, 71, 71, 1.0);
}

#listURLs .urlRow.odd[filterable="true"]:not([urlSelected="true"]):hover {
    background-color: rgba(51, 61, 61, 1.0);
}

#listURLs .urlRow[filterable="true"]:last-child {
    border-bottom-width: 2px;
}

.urlRow {
    border-bottom: 1px solid var(--borderColor);
    border-top: 1px solid var(--borderColor);
    transition: background-color 0.15s ease, padding 0.2s ease-in-out;
    padding: 5px 15px;
}

.urlTitle {
    margin: 0;
    font-weight: bold;
    line-height: inherit;
}

.urlString {
    color: var(--cardURLTextColor);
}

.urlOptions {
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
}


.goToUrlIcon {
    display: flex;
    color: var(--deckSelectionGreenHover);
    transition: color 0.1s ease;
    align-self: flex-start;
}

.urlRow .goToUrlIcon {
    visibility: hidden;
}

.urlRow[filterable="true"][urlSelected="false"]:focus .goToUrlIcon,
.urlRow[filterable="true"][urlSelected="false"]:hover .goToUrlIcon,
.urlRow[filterable="true"][urlSelected="true"] .goToUrlIcon {
    visibility: visible;
}


.goToUrlIcon:hover {
    color: var(--deckSelectionGreen);
}

.outerTagsAndButtonsWrap {
    display: grid;
    grid-template-rows: min-content 0fr;
}

.urlTags,
.urlOptions {
    height: 0;
    transition: padding 0.2s ease-in-out, opacity 0.2s ease-in-out;
    padding: 0;
    opacity: 0;
}

.urlOptions>button {
    opacity: 0;
    height: 0;
    font-size: 0;
    pointer-events: none;
    transition: font-size 0.2s ease-in-out, height 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.urlTags {
    overflow: hidden;
}

.urlRow:focus {
    outline: none;
}

.urlRow[filterable="true"][urlSelected="false"]:focus-visible,
.urlRow[filterable="true"][urlSelected="false"]:focus {
    border-top: 1px solid var(--focusedUrlBorder);
    border-bottom: 1px solid var(--focusedUrlBorder) !important;
}

.urlRow[filterable="true"][urlSelected="true"] {
    border-top: 1px solid var(--selectedUrlBorder);
    border-bottom: 1px solid var(--selectedUrlBorder) !important;
    cursor: auto;
    padding-top: 15px;
    padding-bottom: 20px;
}

.urlRow[filterable="true"][urlSelected="true"] .urlTags,
.urlRow[filterable="true"][urlSelected="true"] .urlOptions {
    height: auto;
    opacity: 1;
}

.urlRow[filterable="true"][urlSelected="true"] .urlTags {
    padding: 20px 0 15px 0;
}

.urlRow[filterable="true"][urlSelected="true"] .urlOptions {
    padding: 15px 0 0 0;
    align-items: center;
}

.urlRow[filterable="true"][urlSelected="true"] .urlOptions>button {
    height: 40px;
    font-size: initial;
    opacity: 1;
    pointer-events: initial;
}

a.urlString {
    text-decoration: none;
}

a.urlString:hover {
    color: var(--cardURLTextColor);
}


.urlRow[filterable="true"][urlSelected="true"] .urlString {
    overflow-wrap: break-word;
    white-space: normal;
    width: fit-content;
}

.urlRow[filterable="true"][urlSelected="true"] .urlString:hover {
    text-decoration: underline;
    cursor: pointer;
}

.urlTitleBtnUpdate {
    display: none;
}

.urlRow[filterable="true"][urlSelected="true"] .urlTitleAndUpdateIconInnerWrap:hover>.urlTitleBtnUpdate {
    display: flex;
}

.urlRow[filterable="true"][urlSelected=false] .urlTitle {
    width: 95%;
}

.urlRow[filterable="true"][urlSelected="true"] .urlTitleAndUpdateIconInnerWrap {
    width: max-content;
}

.urlRow[filterable="true"][urlSelected="true"] .updateUrlTitleWrap>.text-input-container {
    width: 65%;
}

.urlRow[filterable="true"][urlSelected="true"] .updateUrlStringWrap>.text-input-container {
    width: 100%;
}

.urlRow[filterable="true"][urlSelected="true"] .createUrlTagWrap>.text-input-container {
    width: 45%;
}

.urlRow[filterable="false"] {
    display: none;
}

.urlTags::before,
.urlOptions::before {
    margin-top: -30px;
}

.urlTags::after,
.urlOptions::after {
    margin-bottom: -30px;
}

.urlOptions::after {
    padding-bottom: 0;
}

.urlTagsContainer span:first-child {
    margin-left: 0;
}

.urlStringBtnUpdate,
.urlTagBtnCreate {
    transition: background-color 0.3s ease-in-out;
}

#createURLWrap {
    border-top: 1px solid var(--selectedUrlBorder);
    border-bottom: 1px solid var(--selectedUrlBorder) !important;
    padding-top: 15px;
    padding-bottom: 15px;
}

.updateUrlTitleWrap {
    padding-bottom: 20px;
}

.updateUrlStringWrap {
    padding-bottom: 20px;
    padding-top: 20px;
}


.urlRow[filterable="true"][urlSelected="true"] .urlTitle {
    white-space: normal;
    text-overflow: unset;
}

.hiddenBtn#updateUTubDescriptionBtn,
.hiddenBtn#utubNameBtnUpdate {
    display: none !important;
}

#accessAllURLsBtn,
.urlBtnAccess {
    background-color: var(--accessLinkColor);
    border-width: 1px;
    border-color: var(--accessLinkColor);
}

#accessAllURLsBtn:hover,
.urlBtnAccess:hover {
    background-color: var(--accessLinkColorHover);
    border-color: var(--accessLinkColorBorderHover);
    transition: background-color 0.3s ease;
}

#accessAllURLsBtn:active,
.urlBtnAccess:active {
    background-color: var(--accessLinkColor) !important;
    border-width: 1px !important;
    border-color: var(--accessLinkColor) !important;
}

.urlBtnCopy {
    background-color: var(--copyURLColor);
    border-width: 1px;
    border-color: var(--copyURLColor);
}

.urlBtnCopy:hover {
    background-color: var(--copyURLColorHover);
    border-color: var(--copyURLColorBorderHover);
    transition: background-color 0.1s ease;
}

.urlBtnCopy:active {
    background-color: var(--copyURLColor) !important;
    border-color: var(--copyURLColor) !important;
}

.urlTagBtnCreate {
    background-color: var(--addTagColor);
    border-width: 1px;
    border-color: var(--addTagColor);
}

.urlTagBtnCreate:hover {
    background-color: var(--addTagColorHover);
    border-color: var(--addTagColorBorderHover);
}

.urlStringBtnUpdate {
    background-color: var(--editURLColor);
    border-width: 1px;
    border-color: var(--editURLColor);
}

.urlStringBtnUpdate:hover {
    background-color: var(--editURLColorHover);
    border-width: 1px;
    border-color: var(--editURLColorBorderHover);
}

.urlStringCancelBigBtnUpdate {
    background-color: var(--editURLColor);
    border-width: 1px;
    border-color: var(--editURLColor);
    transition: background-color 0.1s ease;
}

.urlStringCancelBigBtnUpdate:hover {
    background-color: var(--editURLColorHover) !important;
    border-width: 1px;
    border-color: var(--editURLColorBorderHover) !important;
    transition: background-color 0.1s ease;
}

.urlStringCancelBigBtnUpdate:active {
    background-color: var(--editURLColor) !important;
    border-width: 1px;
    border-color: var(--editURLColor) !important;
    transition: background-color 0.1s ease;
}

#accessAllURLsBtn {
    color: var(--panelBackgroundColor);
}

.urlBtnDelete {
    color: black;
}

.urlBtnDelete:hover {
    color: black;
}

.urlBtnAccess,
.urlTagBtnCreate,
.urlStringBtnUpdate,
.urlBtnDelete {
    align-items: center;
}

/* Members */

.member {
    color: var(--grayBadgeSelection);
    border-color: var(--grayBadgeSelection);
    border-radius: 25px;
    border: 2px solid var(--tagBorderColor);
    background-color: var(--cardBackgroundColor);
}

.memberOtherBtnDelete:focus,
.member:hover>.memberOtherBtnDelete {
    opacity: 1;
}

.memberOtherBtnDelete {
    opacity: 0;
    color: var(--removeMemberColor);
    transition: color 0.2s;
}

.memberOtherBtnDelete:focus,
.memberOtherBtnDelete:hover {
    color: red;
}

.memberOtherBtnDelete:focus {
    outline: none;
    box-shadow: none;
    border: 1px solid red;
}

/** Custom Text Input Box **/

.text-input-container {
    display: flex;
    flex-direction: column;
}

.text-input-inner-container {
    position: relative;
}

.text-input[type="url"],
.text-input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--borderColor);
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    transition: 0.3s ease;
    background: var(--pageBackgroundColor);
    color: whitesmoke;
}

#UTubNameSearch.text-input[type="text"] {
    background: var(--searchInputBackgroundColor);
    border-radius: 25px;
    padding-inline: 13px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 0;
    opacity: 0;
    transition: width 0.25s ease-in-out, opacity 0.10s ease-in-out 0.1s;
}

#UTubNameSearch.text-input[type="text"].utub-search-expanded {
    width: 100%;
    opacity: 1;
}

#UTubNameSearch+.text-input-label {
    background: var(--searchInputBackgroundColor);
    color: #c6c6c6;
}

#UTubNameSearch:focus+.text-input-label {
    display: none;
}

.text-input[type="url"]:hover,
.text-input[type="text"]:hover {
    border-color: var(--deckSelectionGreenHover);
}

.text-input[type="url"]:focus,
.text-input[type="text"]:focus {
    border-color: var(--deckSelectionGreen);
}

.text-input-label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    background: white;
    padding: 0 5px;
    color: #666;
    font-size: 16px;
    transition: 0.3s ease;
    pointer-events: none;
    background: var(--panelBackgroundColor);
}

.text-input:focus+.text-input-label {
    top: 0px;
    left: 10px;
    color: var(--deckSelectionGreenHover);
    font-size: 14px;
}


.text-input-error-message {
    display: none;
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

/** Loading ring **/
.dual-loading-ring {
    color: #1c4c5b
}

.dual-loading-ring,
.dual-loading-ring:after {
    box-sizing: border-box;
}

.dual-loading-ring {
    display: flex !important;
    align-items: center;
    height: 38px;
    width: auto;
}

.dual-loading-ring:after {
    content: " ";
    display: inline-block !important;
    height: 38px;
    width: 38px;
    border-radius: 50%;
    border: 6.4px solid currentColor;
    border-color: currentColor transparent currentColor transparent;
    animation: dual-loading-ring 1.2s linear infinite;
}

@keyframes dual-loading-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


/** ID specific **/

#urlCreateDualLoadingRing {
    display: none;
}

#UTubDescriptionSubheaderWrap~.createDiv {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#listMembers {
    gap: 3px;
}

#MemberDeckHeader,
#TagDeckHeader,
#UTubDeckHeader,
#UTubDeckSubheader,
#MemberDeckSubheader,
#UTubDescriptionDeckHeader,
#TagDeckSubheader,
#URLDeckHeader {
    margin-bottom: 0px;
}

#URLDeckSubheader {
    margin-top: 3px;
}


#UTubDeckSubheaderWrap {
    width: 100%;
}

#MembersHeader {
    margin-top: 0.75rem;
}

#NoURLsSubheader {
    color: rgba(255, 255, 255, 0.75);
}

#updateUTubDescriptionBtn,
#utubNameBtnUpdate {
    color: rgba(84, 84, 84, 1.0);
}

#UTubDescriptionSubheaderWrap>.visibleBtn,
#UTubNameUpdateWrap>.visibleBtn {
    display: none !important;

}

#UTubDescriptionSubheaderWrap:hover>.visibleBtn,
#UTubNameUpdateWrap:hover>.visibleBtn {
    display: flex !important;
}

#createUTubTagWrap,
#createMemberWrap,
#createUTubWrap {
    height: 100%;
    gap: 20px;
    margin-top: 20px;
}

#URLDeckSubheaderCreateDescription {
    margin-top: 5px;
    margin-bottom: 5px;
    color: var(--cardURLTextColor);
}

#URLDeckSubheaderCreateDescription:hover {
    cursor: pointer;
    text-decoration: underline;
}

#URLDeckSubheader {
    word-break: break-all;
}

#URLDeckErrorIndicator {
    color: var(--removeIconColor);
    background-color: var(--removeMemberColorLighter);
    height: 0;
    padding: 0;
    opacity: 0;
    margin: 0;
    font-size: 0;
    transition: height 0.2s ease-in-out, opacity 0.1s ease-in-out, padding 0.1s ease-in-out, border 0.1s ease-in-out, font-size 0.1s ease-in-out;
}


#UTubNameOuterUpdateWrap {
    width: 85%;
}

#UTubDescriptionInnerUpdateWrap {
    width: 65%;
}

.URLDeckErrorIndicatorShow {
    height: auto !important;
    padding: 5px !important;
    opacity: 100% !important;
    font-size: larger !important;
    border-radius: 5px;
    border: 2px solid var(--removeMemberColor);
}


/* Media size for responsiveness 
 * https://getbootstrap.com/docs/5.2/layout/breakpoints/ 
 * */

@media (min-width: 992px) {
    .panel#centerPanel {
        max-width: calc(100% - 350px);
    }

    .navbar-backdrop {
        display: none;
    }
}

@media (max-width: 991.98px) {

    .panel#centerPanel,
    .deck#MemberDeck,
    .deck#TagDeck {
        display: none;
    }

    .deck#UTubDeck,
    .deck#MemberDeck,
    .deck#TagDeck,
    .panel#centerPanel,
    .panel#leftPanel {
        width: 100%;
    }

    .urlRow[filterable="true"][urlSelected="true"] .createUrlTagWrap {
        width: 95%;
    }

    .urlRow[filterable="true"][urlSelected="true"] .createUrlTagWrap>.text-input-container {
        width: 100%;
    }

    .title-caret {
        display: none;
    }

    #MemberDeckHeader,
    #TagDeckHeader,
    #UTubDeckHeader {
        pointer-events: none;
    }

    #UTubDescriptionInnerUpdateWrap,
    #UTubNameOuterUpdateWrap {
        width: 100%;
    }

    #UTubNameOuterUpdateWrap ~ .button-container {
        width: 0% !important;
    }
}

@media (max-width: 767.98px) {

    #memberBtnCreate,
    #utubBtnCreate {
        margin-inline: 0px !important;
    }
}

@media (max-width: 575.98px) {
    .cardCol {
        width: 100%;
    }

    #pageContent {
        flex-direction: column;
    }

    #accessAllURLsBtn {
        width: 100% !important;
    }
}

@media (min-width: 465px) {}

@media (max-width: 464.98px) {}
