<script type="text/javascript">
    class Routes {
        constructor() {
            if (!Routes.instance) {
                // UTub routes

                this.addUTub = "{{url_for('utubs.add_utub')}}";
                this.deleteUTub = (utub_id) => 
                    "{{url_for('utubs.delete_utub', utub_id=-1)}}".replace("-1", utub_id);
                this.editUTubName = (utub_id) =>
                    "{{url_for('utubs.update_utub_name', utub_id=-1)}}".replace("-1", utub_id);
                // 04/04/24 DP "update" --> "edit"
                this.editUTubDescription = (utub_id) =>
                    "{{url_for('utubs.update_utub_desc', utub_id=-1)}}".replace("-1", utub_id);

                // URL routes
                this.addURL = (utub_id) =>
                    "{{url_for('urls.add_url', utub_id=-1)}}".replace("-1", utub_id);
                this.deleteURL = (utub_id, utub_url_id) =>
                    "{{url_for('urls.remove_url', utub_id=-1, utub_url_id=-2)}}"
                        .replace("-1", utub_id)
                        .replace("-2", utub_url_id);
                this.editURL = (utub_id, utub_url_id) =>
                    "{{url_for('urls.edit_url', utub_id=-1, utub_url_id=-2)}}"
                        .replace("-1", utub_id)
                        .replace("-2", utub_url_id);
                this.editURLTitle = (utub_id, utub_url_id) =>
                    "{{url_for('urls.edit_url_title', utub_id=-1, utub_url_id=-2)}}"
                        .replace("-1", utub_id)
                        .replace("-2", utub_url_id);

                // Tag routes
                this.addTag = (utub_id, utub_url_id) =>
                    "{{url_for('tags.add_tag', utub_id=-1, utub_url_id=-2)}}"
                        .replace("-1", utub_id)
                        .replace("-2", utub_url_id);
                this.removeTag = (utub_id, utub_url_id, tag_id) =>
                    "{{url_for('tags.remove_tag', utub_id=-1, utub_url_id=-2, tag_id=-3)}}"
                        .replace("-1", utub_id)
                        .replace("-2", utub_url_id)
                        .replace("-3", tag_id);
                // 04/04/24 DP "modify" --> "edit"
                this.editTag = (utub_id, utub_url_id, tag_id) =>
                    "{{url_for('tags.modify_tag_on_url', utub_id=-1, utub_url_id=-2, tag_id=-3)}}"
                        .replace("-1", utub_id)
                        .replace("-2", utub_url_id)
                        .replace("-3", tag_id)

                // Member routes
                this.addMember = (utub_id) => 
                    "{{url_for('members.add_member', utub_id=-1)}}".replace("-1", utub_id);
                this.removeMember = (utub_id, user_id) => 
                    "{{url_for('members.remove_member', utub_id=-1, user_id=-4)}}"
                        .replace("-1", utub_id)
                        .replace("-4", user_id);

                // Splash routes
                this.login = () => "{{url_for('splash.login')}}";
                this.register = () => "{{url_for('splash.register_user')}}";
                this.confirmEmailAfterRegister = () => "{{url_for('splash.confirm_email_after_register')}}";
                this.sendValidationEmail = () => "{{url_for('splash.send_validation_email')}}";
                this.forgotPassword = () => "{{url_for('splash.forgot_password')}}";
                
                // Util routes
                this.errorPage = () => "{{url_for('splash.error_page')}}";
                
                // Logout
                this.logout = () => "{{url_for('users.logout')}}";

                Routes.instance = this;
            }

            return Routes.instance;
        }
    }
    const routes = new Routes;

    class Constants {
        constructor() {
            if (!Constants.instance) {

                // UTub constants
                this.UTUBS_MAX_NAME_LENGTH = {{CONSTANTS.UTUBS.MAX_NAME_LENGTH}};
                this.UTUBS_MIN_NAME_LENGTH = {{CONSTANTS.UTUBS.MIN_NAME_LENGTH}};
                this.UTUBS_MAX_DESCRIPTION_LENGTH = {{CONSTANTS.UTUBS.MAX_DESCRIPTION_LENGTH}}

                Constants.instance = this;
            }

            return Constants.instance;
        }
    }
    const CONSTANTS = new Constants;
</script>
