class Strings {
	constructor() {
		if (!Strings.instance) {

			// Query Param Strings
			this.UTUB_QUERY_PARAM = "{{CONSTANTS.STRINGS.UTUB_QUERY_PARAM}}";

			// Splash strings
			this.VALIDATE_MY_EMAIL = "{{CONSTANTS.STRINGS.VALIDATE_MY_EMAIL}}";
			this.VALIDATE_YOUR_EMAIL = "{{CONSTANTS.STRINGS.VALIDATE_YOUR_EMAIL}}";
			this.FORGOT_YOUR_PASSWORD = "{{CONSTANTS.STRINGS.FORGOT_YOUR_PASSWORD}}"
			this.LOGIN_TITLE = "{{CONSTANTS.STRINGS.LOGIN_TITLE}}"

			// UTub Strings
			this.UTUB_CREATE_SAME_NAME = "{{CONSTANTS.STRINGS.UTUB_CREATE_SAME_NAME}}"
			this.UTUB_UPDATE_SAME_NAME = "{{CONSTANTS.STRINGS.UTUB_UPDATE_SAME_NAME}}"
			this.UTUB_DELETE_WARNING = "{{CONSTANTS.STRINGS.UTUB_DELETE_WARNING}}"
			this.UTUB_CREATE_MSG = "{{CONSTANTS.STRINGS.UTUB_CREATE_MSG}}"
			this.UTUB_SELECT = "{{CONSTANTS.STRINGS.UTUB_SELECT}}"

			// Member Strings
			this.MEMBER_DELETE_WARNING = "{{CONSTANTS.STRINGS.MEMBER_DELETE_WARNING}}"
			this.MEMBER_LEAVE_WARNING = "{{CONSTANTS.STRINGS.MEMBER_LEAVE_WARNING}}"

			// URL Strings
			this.DELETE_URL_WARNING = "{{CONSTANTS.STRINGS.DELETE_URL_WARNING}}"
			this.INVALID_URL = "{{CONSTANTS.STRINGS.UNABLE_TO_VALIDATE_THIS_URL}}"
			this.ACCESS_URL_WARNING = "{{CONSTANTS.STRINGS.ACCESS_URL_WARNING}}"

			// Tag Strings
			this.UTUB_TAG_DELETE_WARNING = "{{CONSTANTS.STRINGS.UTUB_TAG_DELETE_WARNING}}"

			// Tooltips
			this.COPY_URL_TOOLTIP = "{{CONSTANTS.STRINGS.COPY_URL_TOOLTIP}}"
			this.COPIED_URL_TOOLTIP = "{{CONSTANTS.STRINGS.COPIED_URL_TOOLTIP}}"
			this.COPIED_URL_FAILURE_TOOLIP = "{{CONSTANTS.STRINGS.COPIED_URL_FAILURE_TOOLIP}}"
			this.ACCESS_URL_TOOLTIP = "{{CONSTANTS.STRINGS.ACCESS_URL_TOOLTIP}}"
			this.ADD_URL_TAG_TOOLTIP = "{{CONSTANTS.STRINGS.ADD_URL_TAG_TOOLTIP}}"
			this.EDIT_URL_TOOLTIP = "{{CONSTANTS.STRINGS.EDIT_URL_TOOLTIP}}"
			this.DELETE_URL_TOOLTIP = "{{CONSTANTS.STRINGS.DELETE_URL_TOOLTIP}}"
			Strings.instance = this;
		}

		return Strings.instance;
	}
}

const STRINGS = new Strings;
