{% extends "layout.html" %}
{% block utubhome %}

<!-- Backend load of UTub JSON data -->
<script type="text/javascript">
    const UTubs = JSON.parse('{{utubs_for_this_user|tojson|safe}}');
</script>
<!-- 12/17 DP this is visible to the user? Ok? -->

<!-- Left Panel -->
<div id="leftPanel" class="panel">
    <!-- UTubs -->
    {% include 'home/UTubDeck/UTubDeck.html' %}
    <!-- End UTubs -->

    <!-- Members -->
    {% include 'home/MemberDeck/MemberDeck.html' %}
    <!-- End Members -->

    <!-- Tags -->
    {% include 'home/TagsDeck/TagsDeck.html' %}
    <!-- End Tags -->
</div>

<!-- End Left Panel -->

<!-- Center Panel -->
<div id="centerPanel" class="panel">
    {% include 'home/URLDeck/URLDeck.html' %}
</div>
<!-- End Center Panel -->

<!-- Home Page JS -->
<!-- Add asset version based on UNIX epoch to cache bust when updates are made -->
<script src="{{ url_for('static', filename='scripts/utils.js') }}?v={{ ASSET_VERSION }}"></script>
<script src="{{ url_for('static', filename='scripts/utubs.js') }}?v={{ ASSET_VERSION }}"></script>
<script src="{{ url_for('static', filename='scripts/utubs_routes.js') }}?v={{ ASSET_VERSION }}"></script>
<script src="{{ url_for('static', filename='scripts/urls.js') }}?v={{ ASSET_VERSION }}"></script>
<script src="{{ url_for('static', filename='scripts/urls_routes.js') }}?v={{ ASSET_VERSION }}"></script>
<script src="{{ url_for('static', filename='scripts/members.js') }}?v={{ ASSET_VERSION }}"></script>
<script src="{{ url_for('static', filename='scripts/members_routes.js') }}?v={{ ASSET_VERSION }}"></script>

<script src="{{ url_for('static', filename='scripts/components/url_cards/url_cards_utils.js') }}?v={{ ASSET_VERSION }}"></script>
<script src="{{ url_for('static', filename='scripts/components/url_tags/create_url_tag.js') }}?v={{ ASSET_VERSION }}"></script>
<script src="{{ url_for('static', filename='scripts/components/url_tags/delete_url_tag.js') }}?v={{ ASSET_VERSION }}"></script>
<script src="{{ url_for('static', filename='scripts/components/url_tags/url_tags.js') }}?v={{ ASSET_VERSION }}"></script>
<script src="{{ url_for('static', filename='scripts/components/utub_tags/create_utub_tag.js') }}?v={{ ASSET_VERSION }}"></script>
<script src="{{ url_for('static', filename='scripts/components/utub_tags/unselect_all_utub_tags.js') }}?v={{ ASSET_VERSION }}"></script>
<script src="{{ url_for('static', filename='scripts/components/utub_tags/utub_tags.js') }}?v={{ ASSET_VERSION }}"></script>
<script src="{{ url_for('static', filename='scripts/components/utub_tags/utub_tags_deck.js') }}?v={{ ASSET_VERSION }}"></script>
<script src="{{ url_for('static', filename='scripts/components/utub_tags/utub_tags_utils.js') }}?v={{ ASSET_VERSION }}"></script>

{% endblock %}

{% block modal_extender %}
{{ super() }}
{% endblock %}
