{% extends "layout.html" %}
{% block utubhome %}

<!-- Backend load of UTub JSON data -->
<script type="text/javascript">
    const UTubs = JSON.parse('{{utubs_for_this_user|tojson|safe}}');
</script>
<!-- 12/17 DP this is visible to the user? Ok? -->

<!-- Left Panel -->

<div id="leftPanel" class="panel col-md-3">

    <!-- UTubs -->
    <div id="UTubDeck" class="deck row h-50 p-3">
        <div class="row">
            <!-- Header -->
            <div class="col-6 col-lg-6">
                <h2 id="UTubDeckHeader">UTubs</h2>
            </div>
            <!-- Icons -->
            <div class="col-6 col-lg-6 d-flex flex-row-reverse">
                <!-- Delete UTub button -->
                <i id="deleteUTubBtn" class="mx-1" style="display:none">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-x-square-fill text-danger"
                        viewBox="0 0 16 16">
                        <path
                            d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708" />
                    </svg></i>

                <!-- Create UTub button -->
                <i id="createUTubBtn" class="green-clickable mx-1">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-plus-square-fill"
                        viewBox="0 0 16 16">
                        <path
                            d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0" />
                    </svg>
                </i>
            </div>
        </div>

        <div class="row">
            <!-- Subheader -->
            <h5 id="UTubDeckSubheader">Create a UTub</h5>
        </div>

        <div class="row deckContent">
            <div id="listUTubs">
                <!-- UTubs -->
            </div>
        </div>
    </div>


    <!-- Tags -->
    <div id="TagDeck" class="deck row h-50 p-3">
        <div class="col-9 col-lg-9">
            <h2 id="TagDeckHeader">Tags</h2>
        </div>
        <div class="col-3 col-lg-3 text-right">
            <div class="d-flex justify-content-center flex-row">
                <!-- Creating disassociated tags is not yet implemented as of 12/21/2023. Not considered MVP functionality. -->
                <!-- Create Tag button -->
                <!-- <i id="createTagButton" class="green-clickable mx-1" style="display:none">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-plus-square-fill"
                        viewBox="0 0 16 16">
                        <path
                            d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0" />
                    </svg>
                </i> -->

                <!-- Edit Tag button -->
                <!-- <i id="editTagButton" class="mx-1" style="display: none; color: #545454">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                        class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path
                            d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                        <path fill-rule="evenodd"
                            d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                    </svg>
                </i> -->
            </div>
        </div>

        <div class="row">
            <!-- Subheader -->
            <h5 id="TagDeckSubheader">
                </h2>
        </div>

        <div class="row deckContent">
            <div id="listTags">
                <!-- Tags -->
            </div>
        </div>
    </div>
</div>

<!-- Left Panel -->

<!-- Center Panel -->

<div id="centerPanel" class="panel col-md-6">
    <div id="URLDeck" class="deck row h-100 p-3">
        <!-- Header -->
        <div class="row justify-content-center">

            <div class="col-9 col-lg-9" style="display:flex">
                <!-- Header -->
                <h2 id="URLDeckHeader">URLs</h2>

                <!-- Edit UTub name -->
                <div class="createDiv" style="display: none">
                    <input type="text" id="editUTubName" class="userInput">

                    <!-- Submit edit UTub name -->
                    <i id="submitEditUTubNameBtn" class="green-clickable mx-1 py-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-check-square-fill" viewBox="0 0 16 16">
                            <path
                                d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm10.03 4.97a.75.75 0 0 1 .011 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.75.75 0 0 1 1.08-.022z" />
                        </svg>
                    </i>
                </div>

                <!-- Edit UTub button -->
                <i id="editUTubNameBtn" class="mx-1 py-2" style="display: none; color: #545454">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                        class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path
                            d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                        <path fill-rule="evenodd"
                            d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                    </svg>
                </i>
            </div>

            <!-- Add URL button -->
            <div class="col-3 col-lg-3 d-flex flex-row-reverse">
                <i id="addURLBtn" class="green-clickable mx-1" style="display: none;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                        class="bi bi-plus-square-fill" viewBox="0 0 16 16">
                        <path
                            d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0" />
                    </svg>
                </i>
            </div>
        </div>

        <div class="row">
            <!-- Subheader -->
            <h5 id="URLDeckSubheader"></h5>
        </div>

        <!-- URLs -->
        <div class="row deckContent justify-content-center">
            <div id="listURLs">
                <!-- Current selected UTub's URLs will be displayed here -->
                <div id="UPRRow" class="row list-content justify-content-center board-list">
                    <!-- URLs above selected URL will be displayed here -->
                </div>
                <div id="URLFocusRow" class="row list-content justify-content-center board-list">
                    <!-- Selected URL will be highlighted here -->
                </div>
                <div id="LWRRow" class="row list-content justify-content-center board-list">
                    <!-- URLs below selected URL will be displayed here -->
                </div>
            </div>
        </div>

        <!-- Access all URLs button -->
        <div class="row justify-content-center">
            <button id="accessAllURLsBtn" class="btn btn-primary" style="display: none; width: 25%">Access All URLs in UTub</button>
        </div>
    </div>
</div>

<!-- Center Panel -->

<!-- Right Panel -->

<div id="rightPanel" class="panel col-md-3">

    <div id="UTubDescriptionDeck" class="deck row h-50 p-3">
        <div class="row">
            <div class="col-9 col-lg-9" style="display:flex">
                <h2 id="UTubDescriptionDeckHeader">UTub Description</h2>
            </div>

            <div class="col-3 col-lg-3 d-flex flex-row-reverse">
                <!-- Edit button -->
                <i id="editUTubDescriptionBtn" class="mx-1 py-2" style="display: none; color: #545454">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                        class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path
                            d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                        <path fill-rule="evenodd"
                            d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                    </svg>
                </i>
                <!-- Submit edit button -->
                <i id="submitEditUTubDescriptionBtn" class="green-clickable mx-1 py-2" style="display: none">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-check-square-fill" viewBox="0 0 16 16">
                        <path
                            d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm10.03 4.97a.75.75 0 0 1 .011 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.75.75 0 0 1 1.08-.022z" />
                    </svg>
                </i>
            </div>
        </div>

        <div class="row">
            <!-- Subheader -->
            <h5 id="UTubDescriptionDeckSubheader">Add a description</h5>
        </div>

        <div class="row">
            <!-- UTub Descriptiion -->
            <p id="UTubDescription" style="display: inline-block"></p>
            <div class="createDiv" style="display: none">
                <textarea cols="40" rows="5" id="editUTubDescription" class="userInput"
                    placeholder="Describe the contents of your UTub (optional)"></textarea>
            </div>
        </div>
    </div>


    <div id="UsersDeck" class="deck row h-50 p-3">

        <div class="row">
            <div class="col-6 col-lg-6">
                <h2 id="UserDeckHeader">Users</h2>
            </div>
            <div class="col-6 col-lg-6 d-flex flex-row-reverse">
                <!-- Add user button -->
                <i id="addUserBtn" class="green-clickable mx-1">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-plus-square-fill"
                        viewBox="0 0 16 16">
                        <path
                            d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0" />
                    </svg>
                </i>
            </div>
        </div>

        <div class="row">
            <!-- Subheader -->
            <h5 id="UserDeckSubheader">Add a user</h5>
        </div>

        <div class="row deckContent">
            <h5><u><b>Owner</b></u></h5>
            <div id="UTubOwner"></div>
            <h5><u><b>Users</b></u></h5>
            <div id="listUsers">
                <!-- Users -->
            </div>
        </div>
    </div>
</div>

<!-- Right Panel -->

<!-- Home Page JS -->
<script src="{{ url_for('static', filename='scripts/utils.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/utubs.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/tags.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/urls.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/users.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/dragdropswap.js') }}"></script>

{% endblock %}

{% block modal_extender %}
{{ super() }}
{% endblock %}