<!DOCTYPE html>

<html>

<head>
    {% include 'head.html' %}
</head>

<body class="flex-column">
    <!-- Includes jinja2 generated routes globally and all backend constants for use by frontend -->
    {% include '_routes_constants.html' %}

    <!-- Navigation Bar -->
    {% include 'components/navbar.html' %}
    <!-- End Navigation Bar -->

    {% block modal_extender %}
    <!-- Modal -->
    {% if email_token_is_expired %}

    {% include 'email_validation/email_needs_validation_modal_expired.html' %}
    {% include 'modals/splashErrorModalBase.html' %}

    {% elif is_resetting_password %}

    {% include 'password_reset/reset_password_modal.html' %}

    {% elif current_user.is_authenticated and current_user.email_validated %}

    {% include 'modals/homeModalBase.html' %}

    {% else %}

    {% include 'modals/splashModalBase.html' %}
    {% include 'modals/splashErrorModalBase.html' %}

    {% endif %}
    {% endblock %}

    {% block mainbody %}
    {% if current_user.is_authenticated and current_user.email_validated %}
    <!-- Main Panel View -->

    {% endif %}
    {% endblock %}

    {% block footer %}
    {% include 'footer.html' %}
    {% endblock %}

</body>

</html>
