<script type="text/javascript">
    if (document.querySelector('head').childElementCount === 1) {
        window.location.href = '/';
    };
</script>

<form id="ModalForm" method="POST" class="login-register-form" action="/register" novalidate>
    <div class="modal-header">
        <h4 class="modal-title">Register</h4>
        <button type="button" class="btn-close close-register-login-modal" data-bs-dismiss="modal" aria-label="close">
        </button>
    </div>
    <div class="modal-body">
        {{ register_form.hidden_tag() }}
        <div id="SplashModalAlertBanner" class="alert alert-banner-splash-modal-hide" role="alert"></div>
        <fieldset class="form-group">
            <div class="form-group first-in-register-login-form">
                {{ register_form.username.label(class="form-control-label login-register-label")}}
                {% if register_form.username.errors %}
                {{ register_form.username(class="form-control login-register-form-group is-invalid",
                autocomplete="username") }}
                <div class="invalid-feedback">
                    {% for error in register_form.username.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ register_form.username(class="form-control login-register-form-group", autocomplete="username")}}
                {% endif %}
            </div>
            <div class="form-group">
                {{ register_form.email.label(class="form-control-label login-register-label")}}
                {% if register_form.email.errors %}
                {{ register_form.email(class="form-control login-register-form-group is-invalid", autocomplete="email")
                }}
                <div class="invalid-feedback">
                    {% for error in register_form.email.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ register_form.email(class="form-control login-register-form-group", autocomplete="email")}}
                {% endif %}
            </div>
            <div class="form-group">
                {{ register_form.confirm_email.label(class="form-control-label login-register-label")}}
                {% if register_form.confirm_email.errors %}
                {{ register_form.confirm_email(class="form-control login-register-form-group is-invalid",
                autocomplete="email") }}
                <div class="invalid-feedback">
                    {% for error in register_form.confirm_email.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ register_form.confirm_email(class="form-control login-register-form-group", autocomplete="email")}}
                {% endif %}
            </div>
            <div class="form-group">
                {{ register_form.password.label(class="form-control-label login-register-label")}}
                {% if register_form.password.errors %}
                {{ register_form.password(class="form-control login-register-form-group is-invalid",
                autocomplete="new-password") }}
                <div class="invalid-feedback">
                    {% for error in register_form.password.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ register_form.password(class="form-control login-register-form-group", autocomplete="new-password")}}
                {% endif %}
            </div>
            <div class="form-group">
                {{ register_form.confirm_password.label(class="form-control-label login-register-label")}}
                {% if register_form.confirm_password.errors %}
                {{ register_form.confirm_password(class="form-control login-register-form-group is-invalid",
                autocomplete="new-password") }}
                <div class="invalid-feedback">
                    {% for error in register_form.confirm_password.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ register_form.confirm_password(class="form-control login-register-form-group",
                autocomplete="new-password")}}
                {% endif %}
            </div>
        </fieldset>
    </div>
    <div class="modal-footer register-login-modal-footer">
        {{ register_form.submit(class="btn btn-success login-register-form-group col-12 login-register-buttons")}}
    </div>
</form>
<div class="d-flex justify-content-center register-to-login-footer">
    <div class="border-top pb-3">
        <small class="text-muted">
            <a class="splash-page-links" id="ToLoginFromRegister" href="javascript:;">Already a user? Login</a>
        </small>
    </div>
</div>

<script src="{{ url_for('static', filename='scripts/splash/register.js') }}?v={{ ASSET_VERSION }}"></script>
