{% extends "layout.html" %}
{% block mainbody %}

<!-- SPLASH PAGE INTRO -->
{% if not current_user.is_authenticated or not current_user.email_validated %}
<main>
    <div class="container-fluid bg-cover">
    <!-- 
            https://images.unsplash.com/photo-1523240795612-9a054b0db644?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80
    -->
        <img id="BG-img" src="/static/styles/splash.jpg" alt="" fetchpriority="high" />
        <div class="container-fluid jumbotron-holder">
            <div class="jumbotron jumbotron-fluid">
                <h1 class="display-4" id="splash-major-text">Welcome to URLS4IRL</h1>
                <p id="splash-mini-text">A simple, clean way to permanently save and share URLs.</p>
                <button type="button" class="btn btn-success to-register btn-block splash-button">Register</button>
                <button type="button" class="btn btn-success to-login btn-block splash-button">Login</button>
            </div>
        </div>
    </div>
</main>

<script nonce="{{ nonce }}" src="{{ url_for('static', filename='scripts/splash.js') }}?v={{ ASSET_VERSION }}"></script>

{% endif %}

{% endblock %}
