<div class="modal fade" id="transferOwnerModal" tabindex="-1" role="dialog"
     aria-labelledby="transferOwnerModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="transferOwnerModalTitle" class="modal-title"></h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
      </div>
      <div class="modal-body">
        <div id="transferOwnerPickView"></div>
        <div id="transferOwnerConfirmView" class="hidden"></div>
      </div>
      <div class="modal-footer">
        <div id="transferOwnerFooterMsg" class="transferPickerMsg" role="status" aria-live="polite"></div>
        <button id="transferOwnerCancel" type="button" class="btn btn-secondary"></button>
        <button id="transferOwnerSubmit" type="button" class="btn btn-success" disabled></button>
      </div>
    </div>
  </div>
</div>
