p {
    color: white;
}

a {
    color: aqua
}

form {
    display: flex;
    flex-flow: column;
}

img {
    max-width:100%;
}

.panel {
    border-radius: 30px;
}

.unselectedUTub {
    display: none;
}

span.tag {
    background: white;
    margin-left: 1px;
    margin-right: 1px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 16px;
}

#UTubDeck {
    background: red;
}

#TagDeck {
    background: orange;
}

#centerPanel {
    background: gray;
}

#UTubInfoDeck {
    background: blue;
}

#URLInfoDeck {
    background: purple;
}

#ChatDeck {
    background: green;
}