p {
    color: white;
}

a {
    color: aqua
}

form {
    display: flex;
    flex-flow: column;
}

img {
    max-width:100%;
}

input[type=checkbox] {
    padding-left:10px;
    padding-right:10px;
    border-radius:15px;

    -webkit-appearance:button;

    border: double 2px #00F;

    background-color:#0b0095;
    color:#FFF;
    white-space: nowrap;
    overflow:hidden;

    width:15px;
    height:15px;
}

input[type=checkbox]:checked {
    background-color:#000;
    border-left-color:#06F;
    border-right-color:#06F;
}

input[type=checkbox]:hover {
    box-shadow:0px 0px 10px #1300ff;
}

input[type=radio] {
    padding-left:5px;
    padding-right:5px;
    border-radius:15px;

    -webkit-appearance:button;

    border: double 2px #00F;

    background-color:#0b0095;
    color:#FFF;
    white-space: nowrap;
    overflow:hidden;

    width:15px;
    height:15px;
}

input[type=radio]:checked {
    background-color:#000;
    border-left-color:#06F;
    border-right-color:#06F;
}

input[type=radio]:hover {
    box-shadow:0px 0px 10px #1300ff;
}

span.tag {
    background: white;
    margin-left: 2px;
    margin-right: 2px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 16px;
}

.panel {
    border-radius: 30px;
}

.unselectedUTub {
    display: none;
}

#UTubDeck {
    background: red;
}

#TagDeck {
    background: orange;
}

#centerPanel {
    background: gray;
}

#UTubInfoDeck {
    background: blue;
}

#URLInfoDeck {
    background: purple;
}

#ChatDeck {
    background: green;
}