<div id="{{ panel_id }}-summary" class="MetricsSummaryPanel"></div>
<svg id="{{ chart_id }}" class="MetricsChart" viewBox="0 0 800 240" preserveAspectRatio="xMinYMid meet"
     role="img" aria-labelledby="{{ chart_id }}-title" aria-describedby="{{ chart_id }}-desc"
     style="width: 100%; height: auto;">
    <title id="{{ chart_id }}-title"></title>
    <desc id="{{ chart_id }}-desc"></desc>
</svg>
<table id="{{ table_id }}" class="MetricsTopTable">
    <thead></thead>
    <tbody></tbody>
</table>
