<section id="MetricsPipelineHealth" class="panel" aria-labelledby="MetricsPipelineHealthTitle">
    <h2 id="MetricsPipelineHealthTitle">{{ CONSTANTS.STRINGS.METRICS_PIPELINE_HEALTH_TITLE }}</h2>
    <svg id="MetricsPipelineHealthChart" class="MetricsChart MetricsPipelineHealthChart"
         viewBox="0 0 800 264" preserveAspectRatio="xMinYMid meet"
         role="img" aria-labelledby="MetricsPipelineHealthChartTitle"
         aria-describedby="MetricsPipelineHealthChartDesc MetricsPipelineHealthLegend">
        <title id="MetricsPipelineHealthChartTitle">{{ CONSTANTS.STRINGS.METRICS_PIPELINE_HEALTH_TITLE }}</title>
        <desc id="MetricsPipelineHealthChartDesc">{{ CONSTANTS.STRINGS.METRICS_PIPELINE_HEALTH_CHART_DESC }}</desc>
    </svg>
    <ul id="MetricsPipelineHealthLegend" class="MetricsPipelineHealthLegend" aria-label="Legend">
        <li><span class="swatch swatch--fetch-desktop" aria-hidden="true"></span>{{ CONSTANTS.STRINGS.METRICS_PIPELINE_HEALTH_LEGEND_FETCH_DESKTOP }}</li>
        <li><span class="swatch swatch--fetch-mobile" aria-hidden="true"></span>{{ CONSTANTS.STRINGS.METRICS_PIPELINE_HEALTH_LEGEND_FETCH_MOBILE }}</li>
        <li><span class="swatch swatch--beacon-desktop" aria-hidden="true"></span>{{ CONSTANTS.STRINGS.METRICS_PIPELINE_HEALTH_LEGEND_BEACON_DESKTOP }}</li>
        <li><span class="swatch swatch--beacon-mobile" aria-hidden="true"></span>{{ CONSTANTS.STRINGS.METRICS_PIPELINE_HEALTH_LEGEND_BEACON_MOBILE }}</li>
    </ul>
</section>
