{% extends "layout.html" %}
{% block content %}

<div class="d-flex justify-content-center">
    <!-- https://www.reddit.com/r/flask/comments/nuhtmx/trouble_with_bootstrap_form_validation_alerts/ -->
    <form method="POST" action="" novalidate>
        {{ utub_form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Create a UTub!</legend>
            <div class="form-group">
                {{ utub_form.name.label(class="form-control-label")}}
                {% if utub_form.name.errors %}
                    {{ utub_form.name(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in utub_form.name.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ utub_form.name(class="form-control form-control-lg")}}
                {% endif %}
            </div>
        <div class="form-group d-flex justify-content-center">
            {{ utub_form.submit(class="btn btn-primary col-12")}}
        </div>
    </form>
</div>
<div class="d-flex justify-content-center">
    <div class="border-top pt-3 px-3">
        <small class="text-muted">
            <a href="{{url_for('home')}}">Back to Home</a>
        </small>
    </div>
    <div class="border-top pt-3 px-3">
        <small class="text-muted">
            <a href="{{url_for('logout')}}">Logout</a>
        </small>
    </div>
</div>

{% endblock content %}