{% extends "layout.html" %}
{% block utubhome %}

<!-- Backend load of UTub JSON data -->
<script type="text/javascript">
    var UTubs = JSON.parse('{{utubs_for_this_user|tojson|safe}}');
</script>

<!-- Left Side Panel -->
<div id="leftPanel" class="panel col-md-3">

    <!-- UPR LH Panel, UTubs -->
    <div id="UTubDeck" class="deck row h-50 md-mb-1 p-3" style="display:flex /*margin-bottom: 5px;*/">
        <div class="col-9 col-lg-9 mb-md-0">
            <h2 id="UTubDeckHeader"></h2>
        </div>
        <div class="col-3 col-lg-3 mb-md-0 text-right d-flex justify-content-center flex-row">

            <!-- Local Dev (1/5) -->
            <!-- <button id="createUTubButton" class="bi bi-plus-square-fill fa-2x btn-success mx-1">+</button>
                <button id="deleteUTubButton" class="bi bi-x-square-fill fa-2x btn-danger mx-1" style="display:none">X</button> -->
            <!-- Local Dev (1/5) -->

            <!-- Production (1/5) -->
            <i id="createUTubButton" class="bi bi-plus-square-fill fa-2x text-success mx-1"></i>
            <i id="deleteUTubButton" class="bi bi-x-square-fill fa-2x text-danger mx-1" style="display:none"></i>
            <!-- Production (1/5) -->
        </div>

        <div class="deckContent">
            <form id="listUTubs">
                <!-- UTubs -->
            </form>
        </div>
    </div>


    <!-- LWR LH Panel, Tags -->
    <div id="TagDeck" class="deck row h-50 p-3">
        <div class="col-9 col-lg-9 mb-md-0">
            <h2 id="TagDeckHeader">No UTub Selected</h2>
        </div>
        <div class="col-3 col-lg-3 mb-md-0 text-right">
            <div class="d-flex justify-content-center flex-row">

                <!-- Local Dev (2/5) -->
                <!-- <button class="bi bi-plus-square-fill fa-2x btn-success mx-1" id="createTagButton" style="display:none">+</button>
                <button class="bi bi-pencil-square fa-2x btn-warning mx-1" id="editTagButton" style="display:none">edit</button>
                <button class="fa fa-check-square fa-2x btn-success mx-1" id="submitTagButton" style="display:none">check</button> -->
                <!-- Local Dev (2/5) -->

                <!-- Production (2/5) -->
                <!-- <i class="bi bi-plus-square-fill fa-2x text-success mx-1" id="createTagButton" style="display:none"></i>
                <i class="bi bi-pencil-square fa-2x text-warning mx-1" id="editTagButton" style="display:none"></i>
                <i class="fa fa-check-square fa-2x text-success mx-1" id="submitTagButton" style="display:none"></i> -->
                <!-- Production (2/5) -->
            </div>
        </div>
        <div class="deckContent form-group">
            <h5 id="noTagsHeader">No tags applied to any URLs in this UTub</h5>
            <form id="listTags">
                <!-- Tags -->
            </form>
        </div>
    </div>
</div>

<!-- Center Panel, URLs -->
<div id="centerPanel" class="panel col-md-7">
    <div id="URLDeck" class="deck h-100 p-3" style="margin-bottom: -5px;">
        <div class="row justify-content-center mx-2">
            <div class="col-9 col-lg-9 mb-md-0 text-left">
                <h2 id="URLDeckHeader" style="display: inline-block"></h2>
                <div class="createDiv" style="display: none">
                    <input type="text" id="editUTubName" class="userInput">
                    <!-- Local Dev (3/5) -->
                    <!-- <button id="submitEditUTubButton" class="fa fa-check-square fa-2x text-success mx-1" type="button">check</button> -->
                    <!-- Local Dev (3/5) -->

                    <!-- Production (3/5) -->
                    <i id="submitEditUTubButton" class="fa fa-check-square fa-2x text-success mx-1" type="button"></i>
                    <!-- Production (3/5) -->
                </div>

                <!-- Local Dev (4/5) -->
                <!-- <button id="editUTubButton" class="bi bi-pencil-square fa-2x mx-1" style="display: none; color: #545454">edit</button> -->
                <!-- Local Dev (4/5) -->

                <!-- Production (4/5) -->
                <i id="editUTubButton" class="bi bi-pencil-square fa-2x mx-1" style="display: none; color: #545454"></i>
                <!-- Production (4/5) -->
            </div>
            <div class="col-3 col-lg-3 mb-md-0 text-right">

                <!-- Local Dev (5/5) -->
                <!-- <button id="addURLBtn" class="bi bi-plus-square-fill fa-2x btn-success mx-1" style="display: none;">+</button> -->
                <!-- Local Dev (5/5) -->

                <!-- Production (5/5) -->
                <i id="addURLBtn" class="bi bi-plus-square-fill fa-2x text-success mx-1" style="display: none;"></i>
                <button id="accessAllURLsBtn" class="btn btn-primary mx-1" style="display: none;">Access All URLs in UTub</button> 
                <!-- Production (5/5) -->
            </div>
        </div>
        <div class="row justify-content-center mx-2">
            <div class="col-12 col-lg-12 mb-md-0 text-left">
                <p id="UTubDescription" style="display: inline-block"></p>
                <div class="createDiv" style="display: none">
                    <textarea cols="40" rows="5" id="editUTubDescription" class="userInput"
                        placeholder="Describe the contents of your UTub (optional)"></textarea>
                </div>
            </div>
        </div>
        <div class="deckContent justify-content-center">
            <div id="listURLs">
                <!-- Current selected UTub's URLs will be displayed here -->
                <div id="UPRRow" class="row list-content justify-content-center board-list">
                    <!-- URLs above selected URL will be displayed here -->
                </div>
                <div id="URLFocusRow" class="row list-content justify-content-center board-list">
                    <!-- Selected URL will be highlighted here -->
                </div>
                <div id="LWRRow" class="row list-content justify-content-center board-list">
                    <!-- URLs below selected URL will be displayed here -->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Right Side Panel -->

<div id="rightPanel" class="panel col-md-2">
    <div id="MembersDeck" class="deck row h-50 md-mb-1 p-3" style="display: block; /*margin-bottom: 5px;*/">

        <h2>Members</h2>

        <h5>Owner</h5>
        <span id="UTubOwner"></span>

        <h5>Users</h5>
        <select id="UTubUsers">
            <option disabled selected value> -- Select a UTub -- </option>
        </select>

        <h5>Actions</h5>
        <div id="UTubActions" class="row">
            <button class="btn btn-success mx-3" id="addUser" modal-target="#"
                onclick="openModal(this.getAttribute('modal-target'))">Add New User</button>

            <button class="btn btn-danger mx-3" id="removeUser" modal-target="#"
                onclick="openModal(this.getAttribute('modal-target'))">Remove Selected User</button>
        </div>
    </div>

    <div id="ChatDeck" class="deck row h-50 p-3">
        <h2>Chat</h2>
        <p class="lead">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, iste molestiae
            beatae, maiores deserunt
            in voluptatibus
            aspernatur architecto excepturi delectus soluta? Ipsa, deleniti dolorem hic consequatur
            repellat eveniet quidem
            voluptate necessitatibus dolorum delectus minus vitae, ut, veritatis sint ipsum magnam
            autem nam ex deserunt debitis
            eaque ratione! Nobis, quidem assumenda.
        </p>
    </div>
</div>


<!-- Home Page JS -->
<script src="{{ url_for('static', filename='scripts/utils.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/home.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/utubs.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/tags.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/urls.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/dragdropswap.js') }}"></script>

{% endblock %}

{% block modal_extender %}
{{ super() }}
{% endblock %}
