{% extends "layout.html" %}
{% block content %}



<div class="d-flex justify-content-center flex-row">
    <h1>Hello there  {{current_user.username}}.</h1>
</div>
<div class="d-flex justify-content-center flex-row">
    <p>Find your UTubs below</p>
</div>

{% if not utubs %}
    <div class="d-flex justify-content-center flex-row">
        <p>No UTubs for you :(</p>
    </div>
{% else %}
    {% for single_utub in utubs %}
        <div class="d-flex justify-content-center flex-row">
            <h3>UTub: {{single_utub.name}}</h3> 
        </div>
        {% if single_utub.created_by.id == current_user.id %}
            <div class="d-flex justify-content-center flex-row">
                <form action="{{url_for('delete_utub', utub_id=single_utub.id, owner_id=single_utub.created_by.id)}}" method="post">
                    <button class="btn btn-danger btn-sm mb-3 mx-3" href="">Delete this UTub</button>
                </form>
            </div>
        {% endif %}
        <div class="d-flex justify-content-center flex-row">
            <h5>Members</h5> 
        </div>
        <div class="d-flex justify-content-center flex-row">
            <ul>
                <li>UTub Owner: {{single_utub.created_by.username}}</li>
            {% for user in single_utub.users %}
                <li>User in "{{single_utub.name}}": {{user.username}}</li>
            {% endfor %}
            </ul>
        </div>
        <div class="d-flex justify-content-center flex-row">
            <h5>URLs</h5> 
        </div>
        <div class="d-flex justify-content-center flex-row">
            <ul>
            {% for link in single_utub.utub_urls %}
                <li>Link in "{{single_utub.name}}": {{link.url_in_utub.url_string}}</li>
                <small>Added by {{link.user_that_added_url.username}}</small>
                    {% if link.user_id == current_user.id or single_utub.created_by.id == current_user.id %}
                        <div class="d-flex justify-content-center flex-row">
                            <a class="btn btn-info btn-sm col-6 mb-3 mx-3" href="#">Add tags</a>
                            <a class="btn btn-danger btn-sm col-6 mb-3" href="#">Delete this URL</a>
                        </div>
                    {% endif %}
                <br>
            {% endfor %}
            </ul>
        </div>
        <div class="d-flex justify-content-center">
            {% if single_utub.created_by.id == current_user.id %}
                <div class="d-flex justify-content-center flex-row mb-5">
                    <a class="btn btn-success btn-sm col-8 mx-3" href="{{url_for('add_user', utub_id=single_utub.id)}}">Add a user!</a>
                    <a class="btn btn-success btn-sm col-8 mx-3" href="{{url_for('add_url', utub_id=single_utub.id)}}">Add a URL!</a>
                </div>
            {% else %}
                <div class="d-flex justify-content-center flex-row mb-5">
                    <a class="btn btn-success btn-md col-12 px-4" href="{{url_for('add_url', utub_id=single_utub.id)}}">Add a URL!</a>
                </div>
            {% endif %}
        </div>
    {% endfor %}
{% endif %}
<div class="d-flex justify-content-center">
    <div class="border-top pt-1">
        <div class="d-flex justify-content-center flex-row my-3">
            <a class="btn btn-primary col-7 mx-3" href="{{url_for('create_utub')}}">Create a UTub!</a>
            <a class="btn btn-primary col-4 mx-3" href="{{url_for('logout')}}">Logout</a>
        </div>
    </div>
</div>

{% endblock %}