{% extends "layout.html" %}
{% block content %}

<!-- Backend load of UTub JSON data -->
<script type="text/javascript">
    var UTubs = JSON.parse('{{utubs_for_this_user|tojson|safe}}');
</script>

<!-- Left Side Panel -->
<div id="leftPanel" class="panel col-md-2">

    <!-- UPR LH Panel, UTubs ("red") -->
    <div id="UTubDeck" class="deck row h-50 mb-md-1 p-3">
        <div class="col-9 col-lg-9 mb-md-0">
            <h2>UTubs</h2>
        </div>
        <div class="col-3 col-lg-3 mb-md-0 text-right">
            <div class="d-flex justify-content-center flex-row">
                <a class="btn btn-primary mx-3" modal-target="/create_utub"
                    onclick="openModal(this.getAttribute('modal-target'))"><b>+</b></a>
            </div>
        </div>
        <div class="deckContent">
            <form></form>
        </div>
    </div>


    <!-- LWR LH Panel, Tags ("orange") -->
    <!-- Will be alpha ordered -->
    <div id="TagDeck" class="deck row h-50 p-3">
        <h2>Tags</h2>
        <div class="deckContent form-group">
            <form id="listTags">
                <h5>No UTub Selected</h5>
            </form>
        </div>
    </div>
</div>

<!-- Center Panel, URLs ("gray")-->

<div id="centerPanel" class="panel col-md-7">
    <div id="UTubContent" class="deck h-100 mb-md-1 p-3">
        <div class="row justify-content-center mx-2">
            <div class="col-9 col-lg-9 mb-md-0 text-left">
                <h2 id="UTubHeader">Select a UTub</h2>
            </div>
            <div class="col-3 col-lg-3 mb-md-0 text-right">
                <a class="btn btn-success mx-3" id="addURL" modal-target="#"
                    onclick="openModal(this.getAttribute('modal-target'))"><b>+</b></a>
            </div>
        </div>
        <div class="deckContent justify-content-center">
            <img id="TubImage"
                src="https://images.unsplash.com/photo-1613271007499-130e4d331a46?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80"
                alt="Select a Tub!">
            <!-- Figure out Font Awesome icons... -->
            <!-- <i class="fas fa-bath"></i>
                <i class="fa fa-flask"></i> -->
            {% if not utubs_for_this_user %}
            <img src="https://images.unsplash.com/photo-1613271007499-130e4d331a46?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80"
                alt="Create a Tub!">
            {% else %}
            <div id="listURLs" class="row list-content justify-content-center board-list">
                <!-- Current selected UTub's URLs will be displayed here -->
            </div>
            {% endif %}
        </div>
    </div>
</div>

<!-- Right Side Panel -->

<div id="rightPanel" class="panel col-md-3">
    <div id="UTubInfoDeck" class="deck row h-25 mb-md-1 p-3" style="display:block">

        <h2>UTub Information</h2>

        <h5>Owner</h5>
        <span id="UTubOwner"></span>

        <h5>Users</h5>
        <select id="UTubUsers">
            <option disabled selected value> -- Select a UTub -- </option>
        </select>

        <h5>Actions</h5>
        <div id="UTubActions" class="row">
            <div class="col-4 col-lg-4 text-left">
                <a class="btn btn-success mx-3" id="addUser" modal-target="#"
                    onclick="openModal(this.getAttribute('modal-target'))"><b>Add New User</b></a>
            </div>
            <div class="col-4 col-lg-4 text-center">
                <a class="btn btn-warning mx-3" id="removeUser" modal-target="#"
                    onclick="openModal(this.getAttribute('modal-target'))"><b>Remove Selected User</b></a>
            </div>
            <div class="col-4 col-lg-4 text-right">
                <a class="btn btn-danger mx-3" id="deleteUTub" modal-target="#"
                    onclick="openModal(this.getAttribute('modal-target'))"><b>Delete Current UTub</b></a>
            </div>
        </div>

        <h5>Description</h5>
        <p id="UTubInfo" class="lead" contentEditable="true">
            Storing email addresses in a PostGreSQL database

            Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, iste molestiae
            beatae, maiores deserunt
            in voluptatibus
            aspernatur architecto excepturi delectus soluta? Ipsa, deleniti dolorem hic consequatur
            repellat eveniet quidem
            voluptate necessitatibus dolorum delectus minus vitae, ut, veritatis sint ipsum magnam
            autem nam ex deserunt debitis
            eaque ratione! Nobis, quidem assumenda.
        </p>
    </div>

    <div id="URLInfoDeck" class="deck row h-50 mb-md-1 p-3" style="display:block">

        <h2>URL Information</h2>

        <div class="justify-content-center row">
            <button id="URLLink" class="btn btn-success btn-sm mb-3 mx-1" onclick="accessLink()">Access URL</button>
            <a id="addTags" class="btn btn-info btn-sm mb-3 mx-1">Add tags</a>
            <button id="EditURL" class="btn btn-primary btn-sm mb-3 mx-1" onclick="editURL()">Edit URL</button>
            <a id="DeleteURL" class="btn btn-danger btn-sm mb-3 mx-1">Delete this URL</a>
        </div>

        <h5>Description</h5>
        <p id="URLInfo" class="lead" contentEditable="true">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, iste molestiae
            beatae, maiores deserunt
        </p>
    </div>

    <div id="ChatDeck" class="deck row h-25 p-3">
        <h2>Chat</h2>
        <p class="lead">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, iste molestiae
            beatae, maiores deserunt
            in voluptatibus
            aspernatur architecto excepturi delectus soluta? Ipsa, deleniti dolorem hic consequatur
            repellat eveniet quidem
            voluptate necessitatibus dolorum delectus minus vitae, ut, veritatis sint ipsum magnam
            autem nam ex deserunt debitis
            eaque ratione! Nobis, quidem assumenda.
        </p>
    </div>
</div>


<!-- Home Page JS -->
<script src="{{ url_for('static', filename='scripts/home.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/dragdropswap.js') }}"></script>

{% endblock %}

{% block modal_extender %}
{{ super() }}
{% endblock %}