<!DOCTYPE html>

<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block scripts_for_login %}
    {% if current_user.is_authenticated %}
    <meta name="csrf-token" content="{{ csrf_token() }}">
    {% endif %}
    {% endblock %}

    <!-- JS -->

    <!-- Add jQuery to aid with DOM manipulation -->
    <!-- <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script> -->

    <!-- Add jQuery to aid with DOM manipulation -- local dev -->
    <script src="/static/scripts/jquery-3.6.0.js"></script>


    <!-- Bootstrap Bundle with Popper -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>  -->

    <!-- Bootstrap -- local dev -->
    <script src="/static/scripts/bootstrap.min.js"></script>
    <script src="/static/scripts/bootstrap.bundle.min.js"></script>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,700" rel="stylesheet">

    <!-- CSS -->
    <!-- Bootstrap -->
    <!-- https://getbootstrap.com/docs/4.3/getting-started/introduction/ -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

    <!-- Bootstrap -- local dev -->
    <link rel="stylesheet" href="/static/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/static/styles/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="/static/styles/bootstrap-grid.min.css">

    <!-- FontAwesome -- comment out for local dev -->
    <!-- https://fontawesome.com/v4/get-started/ -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- Custom CSS adjustments -->
    <link rel="stylesheet" href="/static/styles/app.css">


    <title>URLS4IRL</title>
</head>

<body class="d-flex flex-column vh-100">
    <!-- Navigation Bar -->
    <nav id="mainNavbar" class="navbar navbar-expand-md navbar-dark bg-dark py-0 fixed-top">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{url_for('main.home')}}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
            </ul>
        </div>
        <div class="mx-auto order-0">
            <a class="navbar-brand mx-auto" href="#">URLS4IRL</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                {% if current_user.is_authenticated %}
                <li id="{{current_user.id}}" class="nav-item user">
                    <a class="nav-link" href="#"> Logged in as {{current_user.username}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('users.logout')}}">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('users.login')}}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link to_register" href="{{url_for('users.register_user')}}">Register</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <!-- Navigation Bar -->

{% block mainbody %}
    {% if current_user.is_authenticated %}
    <!-- Main Panel View -->

    <main id="mainPanel" class="mx-0 bt-4 pt-0">
        <!-- Display flash messages on top -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class=flashes>
            {% for category, message in messages %}
            <div class="alert alert-{{category}}">{{ message }}</div>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}

        <div id="pageContent" class="row">
            {% block utubhome %}
            {% endblock %}
        </div>

    </main>

    <!-- Main Panel View -->

    {% endif %}
{% endblock %}

    {% block modal_extender %}
    <!-- Modal -->

    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="FormModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <script type="text/javascript">
                    if (document.querySelector('head').childElementCount === 1) {
                        window.location.href = '/home';
                    };
                </script>

                <form id="ModalForm" name="stepForm" class="form" method="post" action="" novalidate>
                    <div class="modal-header">
                        <h4 class="modal-title">Are you sure you want to delete this
                            UTub?</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="modal-body">
                        This action cannot be undone.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button id="submit" type="submit" class="btn btn-danger" data-dismiss="modal">Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    <!-- Modal -->
    {% endblock %}

</body>

</html>