<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>URLS4IRL</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- https://getbootstrap.com/docs/4.3/getting-started/introduction/ -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <script type="text/javascript">
            var jsArrayOfItems = JSON.parse('{{utubs_json|tojson|safe}}');
        </script>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class=flashes>
                    {% for category, message in messages %}
                        <div class="alert alert-{{category}}">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        <div class="d-flex justify-content-center flex-row">
            <h1>Welcome to URLS 4 IRL.</h1>
            <span>REH</span>
        </div>

        {% block content %}
        {% endblock %}
        
        <script src="" async defer></script>
    </body>
</html>