<script type="text/javascript">
    if (document.querySelector('head').childElementCount === 1) {
        window.location.href = '/';
    };
</script>
<form id="ModalForm" method="POST" class="login-register-form" action="" novalidate>
    <div class="modal-header">
        <h4 class="modal-title">Login!</h4>
        <button type="button" class="close close-register-login-modal" data-dismiss="modal" aria-label="close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        {{ login_form.hidden_tag() }}
        <div id="ValidateEmailMessage" class="alert alert-banner-email-validation-hide" role="alert"></div>
        <fieldset class="form-group">
            <div class="form-group">
                {{ login_form.username.label(class="form-control-label login-register-label")}}
                {% if login_form.username.errors %}
                {{ login_form.username(class="form-control login-register-form-group is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in login_form.username.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ login_form.username(class="form-control login-register-form-group")}}
                {% endif %}
            </div>
            <div class="form-group">
                {{ login_form.password.label(class="form-control-label login-register-label")}}
                {% if login_form.password.errors %}
                {{ login_form.password(class="form-control login-register-form-group is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in login_form.password.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ login_form.password(class="form-control login-register-form-group")}}
                {% endif %}
            </div>
        </fieldset>
    </div>
    <div class="modal-footer">
        {{ login_form.submit(class="btn btn-success login-register-form-group login-buttons center-block col-4 mr-4")}}
        <a class="btn btn-success col-7 login-register-form-group to-register login-buttons center-block"
            href="javascript:;">Register</a>
    </div>
</form>