{% extends "layout.html" %}
{% block mainbody %}

<!-- SPLASH PAGE INTRO -->
{% if not current_user.is_authenticated %}
<div class="bg-img">
    <div class="container-fluid bg-cover">
        <div class="container-fluid jumbotron-holder">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <div class="row justify-content-center">
                        <h1 class="display-4">Welcome to URLS4IRL</h1>
                    </div>
                    <div class="row justify-content-center">
                        <p class="lead login-register-label">A simple, clean way to permanently save and share URLs.</p>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-xl-4 col-md-8">
                            <a class="btn btn-success to-register btn-block splash-button" href="javascript:;">Register</a>
                        </div>
                    </div>
                    <div class="row justify-content-center my-auto">
                        <div class="col-xl-4 col-md-8">
                            <a class="btn btn-success to-login btn-block splash-button" href="javascript:;">Login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="loginRegisterModal" tabindex="-1" role="dialog" aria-labelledby="FormModal" aria-hidden="true">
    <div class="modal-dialog login-register-content" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='scripts/login.js') }}"></script>
{% endif %}

{% endblock %}