<div class="titleElement sidePanelTitle pad-in-15p pad-b-0-25rem">
	<div class="col-6 col-lg-6">
		<div id="MemberDeckHeaderAndCaret" class="flex-row flex-center gap-2p clickable">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill title-caret" viewBox="0 0 16 16">
				<path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
			</svg>
			<h2 id="MemberDeckHeader">Members<span id="MemberDeckCount" class="deck-title-count"></span></h2>
		</div>
	</div>
	<div class="col-6 col-lg-6 d-flex flex-row button-container">
		<!-- Add user button -->
		<button id="memberBtnCreate" class="green-clickable ms-1 hidden" tabindex="0">
			<svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-plus-square-fill"
				width="30" height="30" viewBox="0 0 16 16">
				<path
					d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0" />
			</svg>
		</button>
	</div>
</div>
