name: u4i-dev

services:
  web:
    image: ghcr.io/4irl/u4i-dev:latest
    container_name: u4i-dev-flask
    ports: 
      - "127.0.0.1:8659:5000"
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    env_file:
      - .env
    environment:
      - PRODUCTION=false
      - REDIS_URI=redis://redis:6379/0
      - FLASK_DEBUG=true
      - DOCKER=true
      - DEV_SERVER=true
    secrets:
      - MAILJET_API_KEY
      - MAILJET_SECRET_KEY
      - BASE_EMAIL
      - NOTIFICATION_URL
      - CONTACT_US_URL
    volumes:
      - app_logs:/app/volume

  db:
    image: postgres:16.3-bookworm
    container_name: u4i-dev-postgres
    env_file:
     - .env
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
        test: ["CMD-SHELL", "pg_isready -U \"$POSTGRES_USER\" -d \"$POSTGRES_DB\""]
        interval: 5s
        timeout: 5s
        retries: 5

  redis:
    image: redis:6.2
    container_name: u4i-dev-redis
    volumes:
      - redisdata:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 3

  workflow:
    container_name: u4i-dev-workflow
    image: ghcr.io/4irl/u4i-workflow:latest
    env_file:
      - .env
    depends_on:
      web:
        condition: service_healthy
      db:
        condition: service_healthy
    environment:
      - PRODUCTION=false
      - DEV_SERVER=true
    volumes:
      - app_logs:/app/volume
      - pgdata:/var/lib/postgresql/data:ro
      - workflow_logs:/app/workflow_logs
      - backups:/backups
    healthcheck:
      test: ["CMD", "pgrep", "cron"]
      interval: 60s
      timeout: 5s
      retries: 3
      start_period: 10s

secrets:
  MAILJET_API_KEY:
    file: ./secrets/MAILJET_API_KEY
  MAILJET_SECRET_KEY:
    file: ./secrets/MAILJET_SECRET_KEY
  NOTIFICATION_URL:
    file: ./secrets/NOTIFICATION_URL
  CONTACT_US_URL:
    file: ./secrets/CONTACT_US_URL
  BASE_EMAIL:
    file: ./secrets/BASE_EMAIL

volumes:
  pgdata:
  redisdata:
  app_logs:
  workflow_logs:
  backups:

