name: u4i-dev

services:
  web:
    image: ghcr.io/4irl/u4i-dev:latest
    container_name: u4i-dev-flask
    ports: 
      - "127.0.0.1:8659:5000"
    depends_on:
      - db
      - redis
    env_file:
      - .env
    environment:
      - PRODUCTION=false
      - REDIS_URI=redis://redis:6379/0
      - FLASK_DEBUG=true
      - DOCKER=true
      - DEV_SERVER=true
    secrets:
      - MAILJET_API_KEY
      - MAILJET_SECRET_KEY
      - BASE_EMAIL
      - NOTIFICATION_URL
      - CONTACT_US_URL
    volumes:
      - app_logs:/app/volume
    command: ["bash", "startup-flask.sh"]

  db:
    image: postgres:16.3-bookworm
    container_name: u4i-dev-postgres
    env_file:
     - .env
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:6.2
    container_name: u4i-dev-redis
    volumes:
      - redisdata:/data

  workflow:
    container_name: u4i-dev-workflow
    image: ghcr.io/4irl/u4i-workflow:latest
    env_file:
      - .env
    depends_on:
      - web
      - db
    environment:
      - PRODUCTION=false
      - DEV_SERVER=true
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - NOTIFICATION_URL=${NOTIFICATION_URL}
      - CONTACT_US_URL=${CONTACT_US_URL}
    volumes:
      - app_logs:/app/volume
      - pgdata:/var/lib/postgresql/data:ro
      - workflow_logs:/app/workflow_logs
      - backups:/backups
    command: ["bash", "/app/startup-workflow.sh"]

secrets:
  MAILJET_API_KEY:
    file: ./secrets/MAILJET_API_KEY
  MAILJET_SECRET_KEY:
    file: ./secrets/MAILJET_SECRET_KEY
  NOTIFICATION_URL:
    file: ./secrets/NOTIFICATION_URL
  CONTACT_US_URL:
    file: ./secrets/CONTACT_US_URL
  BASE_EMAIL:
    file: ./secrets/BASE_EMAIL

volumes:
  pgdata:
  redisdata:
  app_logs:
  workflow_logs:
  backups:

