
{% if not request.cookies.get(CONFIG.strings.COOKIE_BANNER_KEY) %}

    {% if current_user.is_authenticated and current_user.email_validated %}
    <dialog class="z9999 flex-column flex-start bg-dark is-hiding logged-in" id="CookieBanner">
    {% else %}
    <dialog class="z9999 flex-column flex-start bg-dark is-hiding" id="CookieBanner">
    {% endif %}
        <div class="flex-row flex-center">
            <h5>Just the boring cookies.</h5>
            <img src="/static/styles/SmallCookie.png" alt="A cookie">
        </div>
        <p><strong>Necessary cookies only.</strong> We use them to keep you logged in and hide this banner.</p>
        <p>No tracking. No ads. We're just here to save URLs.</p>
        <a href="/privacy-policy">Privacy Policy</a>
        <form class="flex-column flex-center" method="dialog">
            <button id="CookieButton" class="btn btn-success" type="button">Got It</button>
        </form>
    </dialog>
    <!-- Initialized by frontend/lib/cookie-banner.js -->

{% endif %}
