<form id="ModalForm" method="POST" class="login-register-form" action="/login" novalidate>
    <div class="modal-header">
        <h4 class="modal-title" id="LoginModalLabel">{{CONSTANTS.STRINGS.LOGIN_TITLE}}</h4>
        <button type="button" class="btn-close close-register-login-modal" data-bs-dismiss="modal" aria-label="close">
        </button>
    </div>
    <div class="modal-body">
        <div id="SplashModalAlertBanner" class="alert alert-banner-splash-modal-hide" role="alert"></div>
        <fieldset class="form-group">
            <div class="form-group first-in-register-login-form">
                <label class="form-control-label login-register-label" for="username">Username</label>
                <input autocomplete="username" class="form-control login-register-form-group" id="username" maxlength="{{CONSTANTS.USERS.MAX_USERNAME_LENGTH}}" minlength="{{CONSTANTS.USERS.MIN_USERNAME_LENGTH}}" name="username" required type="text" value="">
            </div>
            <div class="form-group">
                <label class="form-control-label login-register-label" for="password">Password</label>
                <input autocomplete="current-password" class="form-control login-register-form-group" id="password" name="password" required type="password" value="">
            </div>
            <div class="form-group" id="ForgotPasswordLink">
                <small class="text-muted">
                    <a class="splash-page-links to-forgot-password" href="#">{{CONSTANTS.STRINGS.FORGOT_YOUR_PASSWORD}}</a>
                </small>
            </div>
        </fieldset>
        {% if google_oauth_enabled or github_oauth_enabled %}
        <div class="oauth-divider"><span>OR</span></div>
        {% endif %}
        {% if google_oauth_enabled %}
        <a id="GoogleOAuthLogin" class="oauth-google-button" href="{{ url_for('splash.google_login') }}">
            <svg viewBox="0 0 48 48" aria-hidden="true"><path fill="#EA4335" d="M24 9.5c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85C35.9 2.38 30.47 0 24 0 14.62 0 6.51 5.38 2.56 13.22l7.98 6.19C12.43 13.72 17.74 9.5 24 9.5z"/><path fill="#4285F4" d="M46.98 24.55c0-1.57-.15-3.09-.38-4.55H24v9.02h12.94c-.58 2.9-2.26 5.36-4.78 7.02l7.73 6c4.51-4.18 7.09-10.36 7.09-17.49z"/><path fill="#FBBC05" d="M10.53 28.59A14.5 14.5 0 0 1 9.5 24c0-1.59.27-3.13.76-4.59l-7.98-6.19A24 24 0 0 0 0 24c0 3.88.93 7.54 2.56 10.78z"/><path fill="#34A853" d="M24 48c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16 2.3-6.26 0-11.57-4.22-13.47-9.9l-7.98 6.19C6.51 42.62 14.62 48 24 48z"/></svg>
            {{CONSTANTS.STRINGS.GOOGLE_OAUTH_LOGIN_BUTTON_TEXT}}
        </a>
        {% endif %}
        {% if github_oauth_enabled %}
        <a id="GitHubOAuthLogin" class="oauth-github-button" href="{{ url_for('splash.github_login') }}">
            <svg viewBox="0 0 16 16" aria-hidden="true"><path fill="#181717" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/></svg>
            {{CONSTANTS.STRINGS.GITHUB_OAUTH_LOGIN_BUTTON_TEXT}}
        </a>
        {% endif %}
    </div>
    <div class="modal-footer register-login-modal-footer">
        <button id="submit" class="btn btn-success login-register-form-group login-register-buttons center-block col-4 mr-4" type="submit">Login</button>
        <a id="ToRegisterFromLogin" class="btn btn-secondary col-7 login-register-form-group center-block"
            href="#">Register</a>
    </div>
</form>
