<form id="ModalForm" method="POST" class="login-register-form" action="/register" novalidate>
    <div class="modal-header">
        <h4 class="modal-title" id="RegisterModalLabel">Register</h4>
        <button type="button" class="btn-close close-register-login-modal" data-bs-dismiss="modal" aria-label="close">
        </button>
    </div>
    <div class="modal-body">
        <div id="SplashModalAlertBanner" class="alert alert-banner-splash-modal-hide" role="alert"></div>
        <fieldset class="form-group">
            <div class="form-group first-in-register-login-form">
                <label class="form-control-label login-register-label" for="username">Username</label>
                <input autocomplete="username" class="form-control login-register-form-group" id="username" maxlength="{{CONSTANTS.USERS.MAX_USERNAME_LENGTH}}" minlength="{{CONSTANTS.USERS.MIN_USERNAME_LENGTH}}" name="username" required type="text" value="">
            </div>
            <div class="form-group">
                <label class="form-control-label login-register-label" for="email">Email</label>
                <input autocomplete="email" class="form-control login-register-form-group" id="email" name="email" required type="email" value="">
            </div>
            <div class="form-group">
                <label class="form-control-label login-register-label" for="confirmEmail">Confirm Email</label>
                <input autocomplete="email" class="form-control login-register-form-group" id="confirmEmail" name="confirmEmail" required type="email" value="">
            </div>
            <div class="form-group">
                <label class="form-control-label login-register-label" for="password">Password</label>
                <input autocomplete="new-password" class="form-control login-register-form-group" id="password" maxlength="{{CONSTANTS.USERS.MAX_PASSWORD_INPUT_LENGTH}}" minlength="{{CONSTANTS.USERS.MIN_PASSWORD_LENGTH}}" name="password" required type="password" value="">
            </div>
            <div class="form-group">
                <label class="form-control-label login-register-label" for="confirmPassword">Confirm Password</label>
                <input autocomplete="new-password" class="form-control login-register-form-group" id="confirmPassword" name="confirmPassword" required type="password" value="">
            </div>
        </fieldset>
        <div class="oauth-divider"><span>OR</span></div>
        <a id="GoogleOAuthRegister" class="oauth-google-button" href="{{ url_for('splash.google_login') }}">
            <svg viewBox="0 0 48 48" aria-hidden="true"><path fill="#EA4335" d="M24 9.5c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85C35.9 2.38 30.47 0 24 0 14.62 0 6.51 5.38 2.56 13.22l7.98 6.19C12.43 13.72 17.74 9.5 24 9.5z"/><path fill="#4285F4" d="M46.98 24.55c0-1.57-.15-3.09-.38-4.55H24v9.02h12.94c-.58 2.9-2.26 5.36-4.78 7.02l7.73 6c4.51-4.18 7.09-10.36 7.09-17.49z"/><path fill="#FBBC05" d="M10.53 28.59A14.5 14.5 0 0 1 9.5 24c0-1.59.27-3.13.76-4.59l-7.98-6.19A24 24 0 0 0 0 24c0 3.88.93 7.54 2.56 10.78z"/><path fill="#34A853" d="M24 48c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16 2.3-6.26 0-11.57-4.22-13.47-9.9l-7.98 6.19C6.51 42.62 14.62 48 24 48z"/></svg>
            {{CONSTANTS.STRINGS.GOOGLE_OAUTH_REGISTER_BUTTON_TEXT}}
        </a>
    </div>
    <div class="modal-footer register-login-modal-footer">
        <button id="submit" class="btn btn-success login-register-form-group col-12 login-register-buttons" type="submit">Register</button>
    </div>
</form>
<div class="d-flex justify-content-center register-to-login-footer">
    <div class="border-top pb-3">
        <small class="text-muted">
            <a class="splash-page-links" id="ToLoginFromRegister" href="#">Already a user? Login</a>
        </small>
    </div>
</div>
