<div class="modal fade show" id="SplashModal" tabindex="-1" aria-labelledby="FormModal" style="display: block;"
    aria-modal="true" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form id="ModalForm" method="POST" class="login-register-form" data-modal-type="reset-password" action="" novalidate>
                <div class="modal-header">
                    <h4 class="modal-title">Reset your password!</h4>
                    <button type="button" class="btn-close close-modal" data-bs-dismiss="modal" aria-label="close">
                    </button>
                </div>
                <div class="modal-body">
                    <fieldset class="form-group">
                        <div class="form-group first-in-register-login-form">
                            <label class="form-control-label login-register-label" for="newPassword">New Password</label>
                            <input class="form-control login-register-form-group" id="newPassword" name="newPassword"
                                required type="password" minlength="{{CONSTANTS.USERS.MIN_PASSWORD_LENGTH}}" maxlength="{{CONSTANTS.USERS.MAX_PASSWORD_INPUT_LENGTH}}">
                        </div>
                        <div class="form-group forgot-password-form-group">
                            <label class="form-control-label login-register-label" for="confirmNewPassword">Confirm New Password</label>
                            <input class="form-control login-register-form-group" id="confirmNewPassword" name="confirmNewPassword"
                                required type="password">
                        </div>
                    </fieldset>
                    <div id="SplashModalAlertBanner" class="alert alert-banner-splash-modal-hide" role="alert"></div>
                </div>
                <div class="modal-footer">
                    <input class="btn btn-success login-register-buttons login-register-form-group col-12"
                        id="submit" type="submit" value="Reset Password">
                </div>
            </form>
        </div>
    </div>
</div>
