<div class="titleElement pad-in-15p justify-space-between">

	<div class="flex-row align-center" id="UTubNameOuterUpdateWrap">
		<!-- Header -->
		<div class="flex-row align-center" id="UTubNameUpdateWrap">
			<h2 id="URLDeckHeader">URLs</h2>
			<!-- Show Update UTub name button -->
			<i id="utubNameBtnUpdate" class="mx-1 hidden">
				<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
					class="bi bi-pencil-square updateIcon" viewBox="0 0 16 16">
					<path
						d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
					<path fill-rule="evenodd"
						d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
				</svg>
			</i>
		</div>

		<!-- Update UTub name -->
		{% include 'home/URLDeck/UpdateUTubNameForm.html' %}
	</div>

	<!-- Create URL button -->
	<div class="col-3 col-lg-3 d-flex flex-row button-container">
		<i id="urlBtnCreate" class="green-clickable hidden" tabindex="0">
			<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
				class="bi bi-plus-square-fill" viewBox="0 0 16 16">
				<path
					d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0" />
			</svg>
		</i>
	</div>
</div>
