<div class="modal fade" id="SplashErrorModal" tabindex="-1" role="dialog" aria-labelledby="SplashErrorModal"
    style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div id="SplashModalErrorContent" class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Uh Oh... An Error Occurred</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close">
                </button>
            </div>
            <div class="modal-body">
                <div id="SplashErrorModalAlertBanner" role="alert" class="alert alert-danger alert-banner-splash-modal-display"></div>
            </div>
            <div class="modal-footer">
                <button id="CloseErrorModalButton" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
