{% extends "pages/layout.html" %}
{% block modal_extender %}
{% include 'modals/homeModalBase.html' %}
{% endblock %}
{% block mainbody %}
<main id="AdminPortal">
    {% include 'admin_portal/_nav.html' %}
    <section id="AdminContent" aria-label="Admin section content">
    {% block admin_content %}{% endblock %}
    </section>
    {% if config.VITE_DEV_SERVER %}
    <script nonce="{{ nonce }}" type="module" src="{{ config.VITE_URL }}/@vite/client"></script>
    {% endif %}
    <script nonce="{{ nonce }}" type="module" src="{{ vite_asset('admin.ts') }}"></script>
</main>
{% endblock %}
