<section id="splashFeatures" aria-labelledby="splashFeaturesHeading" class="splash-features">
  <h2 id="splashFeaturesHeading" class="splash-features-heading">
    {{ CONSTANTS.STRINGS.SPLASH_FEATURES_HEADING }}
  </h2>
  <ul class="splash-features-grid" role="list">
    <li class="splash-feature-tile">
      <div class="splash-feature-icon" aria-hidden="true">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
          class="bi bi-collection" viewBox="0 0 16 16">
          <path
            d="M2.5 3.5a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1zm2-2a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1zM0 13a1.5 1.5 0 0 0 1.5 1.5h13A1.5 1.5 0 0 0 16 13V6a1.5 1.5 0 0 0-1.5-1.5h-13A1.5 1.5 0 0 0 0 6zm1.5.5A.5.5 0 0 1 1 13V6a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5z" />
        </svg>
      </div>
      <h3 class="splash-feature-title">{{ CONSTANTS.STRINGS.SPLASH_FEATURE_1_TITLE }}</h3>
      <p class="splash-feature-body">{{ CONSTANTS.STRINGS.SPLASH_FEATURE_1_BODY }}</p>
    </li>
    <li class="splash-feature-tile">
      <div class="splash-feature-icon" aria-hidden="true">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
          class="bi bi-tag" viewBox="0 0 16 16">
          <path
            d="M6 4.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm-1 0a.5.5 0 1 0-1 0 .5.5 0 0 0 1 0z" />
          <path
            d="M2 1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 1 6.586V2a1 1 0 0 1 1-1zm0 5.586 7 7 4.586-4.586-7-7H2v4.586z" />
        </svg>
      </div>
      <h3 class="splash-feature-title">{{ CONSTANTS.STRINGS.SPLASH_FEATURE_2_TITLE }}</h3>
      <p class="splash-feature-body">{{ CONSTANTS.STRINGS.SPLASH_FEATURE_2_BODY }}</p>
    </li>
    <li class="splash-feature-tile">
      <div class="splash-feature-icon" aria-hidden="true">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
          class="bi bi-people-fill" viewBox="0 0 16 16">
          <path
            d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5.784 6A2.24 2.24 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.3 6.3 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5" />
        </svg>
      </div>
      <h3 class="splash-feature-title">{{ CONSTANTS.STRINGS.SPLASH_FEATURE_3_TITLE }}</h3>
      <p class="splash-feature-body">{{ CONSTANTS.STRINGS.SPLASH_FEATURE_3_BODY }}</p>
    </li>
  </ul>
</section>
