<script nonce="{{ nonce }}" type="text/javascript">
    if (document.querySelector('head').childElementCount === 1) {
        window.location.href = '/';
    };
</script>
<form id="ModalForm" method="POST" class="login-register-form" action="" novalidate>
    <div class="modal-header">
        <h4 class="modal-title">Forgot your password?</h4>
        <button type="button" class="btn-close close-modal" data-bs-dismiss="modal" aria-label="close">
        </button>
    </div>
    <div class="modal-body">
        {{ forgot_password_form.hidden_tag() }}
        <p id="ForgotPasswordText">Enter the email associated with your account. An email will be sent to reset your
            password.</p>
        <fieldset class="form-group">
            <div class="form-group forgot-password-form-group">
                {{ forgot_password_form.email.label(class="form-control-label forgot-password-email-label")}}
                {% if forgot_password_form.email.errors %}
                {{ forgot_password_form.email(class="form-control login-register-form-group is-invalid",
                autocomplete="email") }}
                <div class="invalid-feedback">
                    {% for error in forgot_password_form.email.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ forgot_password_form.email(class="form-control login-register-form-group", autocomplete="email")}}
                {% endif %}
            </div>
        </fieldset>
        <div id="SplashModalAlertBanner" class="alert alert-banner-splash-modal-hide" role="alert"></div>
    </div>
    <div class="modal-footer">
        {{ forgot_password_form.submit(class="btn btn-success login-register-form-group login-register-buttons
        center-block col-7 mr-4")}}
        <a id="ToLoginFromForgotPassword" class="btn btn-secondary col-4 login-register-form-group center-block"
            href="#">Back to Login</a>
    </div>
</form>

<script nonce="{{ nonce }}" src="{{ url_for('static', filename='scripts/splash/forgotPassword.js') }}?v={{ ASSET_VERSION }}"></script>
