<div id="MemberDeck" class="deck flex-column" data-last-collapsed="false">

	<!-- Headers -->
	{% include 'home/MemberDeck/MemberDeckHeaders.html' %}

	<div class="flex-column content">
		<!-- Create Member Form -->
		{% include 'home/MemberDeck/CreateMemberForm.html' %}

		<!-- Member Deck Content -->
		<div id="displayMemberWrap" class="flex-column pad-in-15p">
			<h5><u><b>Owner</b></u></h5>
			<div id="UTubOwner"></div>
			<h5 id="MembersHeader"><u><b>Members</b></u></h5>
			<div class="flex-column flex-start" id="listMembers">
				<!-- Members -->
			</div>
		</div>
	</div>
</div>
