name: Build development docker images

on:
  workflow_call:

env:
  # Name of docker image
  IMAGE_NAME: u4i-dev
  WORKFLOW_IMAGE_NAME: u4i-workflow

jobs:
    DevBuild:
        name: Build development docker image and workflow image
        runs-on: ubuntu-latest

        steps:
        - uses: actions/checkout@v4

        - name: Set up QEMU
          uses: docker/setup-qemu-action@v3
        
        - name: Set up Docker Buildx
          uses: docker/setup-buildx-action@v3
        
        - name: Log in to registry
          run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

        - name: Build flask dev image
          run: |
            IMAGE_ID=ghcr.io/${{ github.repository_owner }}/${{ env.IMAGE_NAME }}
            IMAGE_ID=$(echo $IMAGE_ID | tr '[A-Z]' '[a-z]')
            VERSION=$(echo "${{ github.ref }}" | sed -e 's,.*/\(.*\),\1,')
            [[ "${{ github.ref }}" == "refs/tags/"* ]] && VERSION=$(echo $VERSION | sed -e 's/^v//')
            [ "$VERSION" == "main" ] && VERSION=latest
            DATE=$(date +%Y%m%d)
            SHORT_SHA=$(git rev-parse --short HEAD)
            FULL_TAG="$DATE-$SHORT_SHA"
            
            docker buildx build . \
              --file docker/Dockerfile \
              --platform linux/amd64,linux/arm64 \
              --tag ${IMAGE_ID}:${VERSION} \
              --tag ${IMAGE_ID}:${FULL_TAG} \
              --tag ${IMAGE_ID}:latest \
              --label "runnumber=${GITHUB_RUN_ID}" \
              --push

        - name: Build flask workflow image
          run: |
            IMAGE_ID=ghcr.io/${{ github.repository_owner }}/${{ env.WORKFLOW_IMAGE_NAME }}
            IMAGE_ID=$(echo $IMAGE_ID | tr '[A-Z]' '[a-z]')
            VERSION=$(echo "${{ github.ref }}" | sed -e 's,.*/\(.*\),\1,')
            [[ "${{ github.ref }}" == "refs/tags/"* ]] && VERSION=$(echo $VERSION | sed -e 's/^v//')
            [ "$VERSION" == "main" ] && VERSION=latest
            DATE=$(date +%Y%m%d)
            SHORT_SHA=$(git rev-parse --short HEAD)
            FULL_TAG="$DATE-$SHORT_SHA"
            
            docker buildx build . \
              --file docker/Dockerfile_Workflow \
              --platform linux/amd64,linux/arm64 \
              --tag ${IMAGE_ID}:${VERSION} \
              --tag ${IMAGE_ID}:${FULL_TAG} \
              --tag ${IMAGE_ID}:latest \
              --label "runnumber=${GITHUB_RUN_ID}" \
              --push
