name: Linting
permissions:
  contents: read

on: 
  workflow_call:
    inputs:
      branch_ref:
        required: true
        type: string

jobs:
  Lint:
    # Containers must run in Linux based operating systems
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          ref: ${{ inputs.branch_ref }}

      - name: Setup Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: '3.11.9'
          cache: 'pip'
          cache-dependency-path: '**/requirements-test.txt'

      - name: Verify Python with flake8 
        uses: py-actions/flake8@84ec6726560b6d5bd68f2a5bed83d62b52bb50ba # v2.3.0
        with:
            exclude: ".git,migrations"
            args: "--extend-ignore E501"

      - name: Setup node
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: "20"

      - name: Verify JavaScript with ESLint
        run: npx eslint src/static/scripts/** --no-config-lookup
