name: Build production docker images
permissions:
  contents: read
  packages: write

on:
  workflow_call:

env:
  # Name of docker image
  IMAGE_NAME: u4i-prod
  WORKFLOW_IMAGE_NAME: u4i-workflow

jobs:
    ProdBuild:
        name: Build flask production docker image and workflow image
        runs-on: ubuntu-latest

        strategy:
          fail-fast: false
          matrix:
            include:
              - image_name: u4i-prod
                dockerfile: docker/Dockerfile
              - image_name: u4i-workflow
                dockerfile: docker/Dockerfile.Workflow

        steps:
        - name: Checkout
          uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
          with:
            ref: main
            persist-credentials: false

        - name: Log in to GHCR
          uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
          with:
            registry: ghcr.io
            username: ${{ github.actor }}
            password: ${{ secrets.GITHUB_TOKEN }}

        - name: Extract metadata (tags, labels)
          id: meta
          uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
          with:
            images: ghcr.io/${{ github.repository_owner }}/${{ matrix.image_name }}
            tags: |
              type=raw,value=latest,enable={{is_default_branch}}
              type=ref,event=branch
              type=ref,event=tag
              type=sha,format=short,prefix={{date 'YYYYMMDD'}}-

        - name: Set up Docker Buildx
          uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

        - name: Build and Push
          uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
          with:
            context: .
            file: ${{ matrix.dockerfile }}
            push: true
            tags: ${{ steps.meta.outputs.tags }}
            labels: ${{ steps.meta.outputs.labels }}
            cache-from: type=gha,scope=${{ matrix.image_name }}
            cache-to: type=gha,mode=max,scope=${{ matrix.image_name }}

