name: Test build docker images
permissions:
  contents: read
  packages: read

on:
  workflow_call:
    inputs:
      branch_ref:
        required: true
        type: string

jobs:
    ProdBuild:
        name: Build Docker Images
        runs-on: ubuntu-latest
        strategy:
          fail-fast: false # Don't cancel the workflow if one image fails
          matrix:
            include:
              - name: flask-prod
                file: docker/Dockerfile
              - name: workflow
                file: docker/Dockerfile.Workflow

        steps:
            - name: Checkout
              uses: actions/checkout@v4
              with:
                ref: ${{ inputs.branch_ref }}

            # Required for the --mount=type=cache in Dockerfile to work
            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

            - name: Build ${{ matrix.name }}
              uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
              with:
                context: .
                file: ${{ matrix.file }}
                push: false 
                # Use GHA cache to make subsequent PR builds much faster
                cache-from: type=gha,scope=${{ matrix.name }}
                cache-to: type=gha,mode=max,scope=${{ matrix.name }}

            - name: Run Smoke Test
              run: | 
                chmod +x docker/smoke-test.sh
                docker/smoke-test.sh ${{ matrix.name }}:test "${{ matrix.env }}"
